<md-list>
  <md-item ng-repeat="video in videos">
    <md-item-content>
      <div class="md-tile-left">
      <i class="fa fa-play"></i>
      </div>
      <div class="md-tile-content">
        <h3 ng-bind="video.name"> </h3>
        <p ng-bind="video.description">
        </p>
      </div>
    </md-item-content>
  </md-item>
</md-list>





<!--  <div layout="row" flex class="md-theme-light">
    <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    Add a toggleMenu function to your menuCtrl controller with the following in it
                      $mdSidenav('left').toggle();

                    <i class="fa fa-bars pointer" ng-click="vmVideo.close()" hide-gt-lg></i>
                    <h1 flex>GRE Video Library (58 videos)</h1>
                </div>

            </md-toolbar>
 </div>
 -->
<section layout="row" flex>

  <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
<!--  <md-toolbar class="md-theme-light" flex>
      <h1 class="md-toolbar-tools">GRE Video Library (58 videos)</h1>
    </md-toolbar> -->
   <md-content flex="" role="navigation" class="md-default-theme">
         <!-- <md-button ng-click="vmVideo.close()" class="md-primary">
        Close Video List
      </md-button> -->
      <div video-list videos="vmVideo.videos" is-clicked="vmVideo.isClicked"></div>
    </md-content>
  </md-sidenav>
  <md-content flex>
    <div layout="column" layout-fill layout-align="top center">
      <!-- <div>
        <md-button ng-click="vmVideo.toggleLeft()" class="md-primary">
          Toggle left
        </md-button>
      </div> -->
      <p>
          <div class="card" layout-margin>
            <div class="card-image">
              <div class="video-container">
                <iframe id="player1" src="//player.vimeo.com/video/76979871?api=1&player_id=player1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          </div>

      </p>
    </div>
    <div flex></div>
  </md-content>
</section>
