<div ng-if="!vmPr.Error">
  <div layout="row" layout-align="center center">
    <div flex ng-if="vmPr.explanationInfo.showExplanation && vmPr.showTiming && vmPr.questionAnalytics" class="reset-layout" question-timing data="vmPr.timingData" confirmed="vmPr.userConfirmed" your-time="vmPr.questionTimer.seconds" answer-status="vmPr.answerStatus" xp-tag="vmPr.explanationInfo.xpTag" percent-answered="vmPr.percentAnswered" last-answer-loaded="vmPr.questionData.kind">
    </div>
  </div>
  <div layout="row" layout-sm="column" layout-align="space-around" ng-if="vmPr.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div id="practice" ng-show="!vmPr.loading" layout="row" layout-sm="column" layout-fill layout-wrap>
    <div id="Panel1" flex layout-fill layout-padding layout-align="start center" ng-if="vmPr.questionData.setLayoutOneColumn">
      <div pr-first-panel>
      </div>
    </div>
    <div id="Panel1" layout-fill layout-padding layout-align="start center" ng-if="!vmPr.questionData.setLayoutOneColumn">
      <div pr-first-panel>
      </div>
    </div>
    <!--begin panel 2 -->
    <div id="Panel2" flex layout-fill layout-padding layout-align="start center">
      <div pr-sec-panel>
      </div>
    </div>
  </div>
  <div class="footer md-whiteframe-z2">
    <div layout="row" layout-sm="column" layout-padding layout-align="space-between center">
      <div flex class="feedback-box">
        <md-button class="md-primary" ng-href="mailto:feedback@grockit.com?subject={{vmPr.subjectMail}}">&nbsp; <i class="profile-list-icon fa fa-envelope" style="color: #888"></i>&nbsp; feedback@grockit.com</md-button>
      </div>
      <div flex ng-if="!vmPr.loading && vmPr.time > 0">
        Question Time :
        <span class="practice-data" ng-bind="vmPr.questionTimer.seconds | formatSeconds"></span>
      </div>
      <div flex ng-if="!vmPr.loading" class="confirm-panel">
        <md-button id="skipAction" ng-click="vmPr.revealExplanation()">Don't know? See answer.</md-button>
        <md-button id="nextAction" class="md-primary md-raised" ng-disabled="vmPr.isDisabled" ng-click="vmPr.nextAction()" ng-bind="vmPr.nextActionTitle" aria-label="{{vmPr.nextActionTitle}}">
        </md-button>
      </div>
    </div>
  </div>
</div>
