<div id="question-explain" ng-if="vmPr.explanationInfo.showExplanation && vmPr.questionData.explanation!==''">
  <div class="panel" layout-fill>
    <div class="panel-heading">
      <span class="panel-title"><i class="panel-title-icon fa fa-folder-open"></i>Explanation</span>
    </div>
    <div class="panel-body">
      <span ng-bind-html='vmPr.explanationInfo.questionExplanation'></span>
      <div id="videoExplain" ng-if="vmPr.videoInfo.showVideo">
        <br>
        <div class="video-container">
          <button youtube rel="{{vmPr.videoInfo.videoId}}" class="btn btn-flat btn-labeled btn-primary" id="videoExplainbtn">
            <span class="btn-label text-lg icon mdi md-play-shopping-bag"></span><span ng-bind="vmPr.videoInfo.videoText"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sentence_correction_stimulus" ng-if="vmPr.questionData.questionInformation!==''">
  <div class="panel" layout-fill>
    <div class="panel-heading">
      <span class="panel-title"><i class="panel-title-icon fa fa-file-text-o"></i>Information</span>
    </div>
    <div class="panel-body">
      <div class="question-information" ng-class="{'fixed-width': vmPr.questionData.fixedWidth}" ng-bind-html='vmPr.questionData.questionInformation'></div>
    </div>
  </div>
</div>
