#page-signin-bg
    .overlay
      img(src='assets/images/signin-bg-1.jpg', alt='')
    .signin-container
      .signin-info
        a.logo(href='index.html')
          img(src='assets/images/header-logo-beta.png', alt='', style='margin-top: -5px;')
        .slogan
          | Sign in to Grockit to start studying..
        ul
          li
            i.fa.fa-sitemap.signin-icon
            | Track Your Skill Data
          li
            i.fa.fa-file-text-o.signin-icon
            |  Target Your Weaknesses
          li
            i.fa.fa-outdent.signin-icon
            |  Study with Friends
          li
            i.fa.fa-heart.signin-icon
            |  Shorter Study Time
      .signin-form
        form#signin-form_id(name='login', novalidate='', ng-submit='vmlog.submit()')
          .signin-text
            span Sign In to your account
          .form-group.w-icon
            input#username_id.form-control.input-lg(type='text', name='email', ng-model="vmlog.email", placeholder='Username or email', required)
            span.fa.fa-user.signin-form-icon
            .help-block(ng-messages='login.email.$error', ng-if='login.email.$dirty', ng-messages-include='form-messages')
          .form-group.w-icon
            input#password_id.form-control.input-lg(type='password',ng-model="vmlog.password", name='password', placeholder='Password', required)
            span.fa.fa-lock.signin-form-icon
            .help-block(ng-if='login.password.$dirty', ng-messages='login.password.$error', ng-messages-include='form-messages')
          .form-actions
            input.signin-btn.bg-primary(type='submit', value='SIGN IN', ng-disabled="login.$invalid")
            a#forgot-password-link.forgot-password(href='#') Forgot your password?
        .signin-with
          a.signin-with-btn(ng-click="vmlog.authenticate('facebook')", style='background:#4f6faa;background:rgba(79, 111, 170, .8);')
            | Sign In with
            span Facebook
          a.btn.bg-dark-gray.signin-with-btn(ng-click="vmlog.authenticate('google')")
            | Sign In with
            span Google
        #password-reset-form.password-reset-form
          .header
            .signin-text
              span Password reset
              .close &times;
          form#password-reset-form_id(action='index.html')
            .form-group.w-icon
              input#p_email_id.form-control.input-lg(type='text', name='password_reset_email', placeholder='Enter your email')
              span.fa.fa-envelope.signin-form-icon
            .form-actions
              input.signin-btn.bg-primary(type='submit', value='SEND PASSWORD RESET LINK')
    .not-a-member
      | Not a member?
      a(ui-sref="register") Sign up now


script#form-messages(type='text/ng-template').
      <div ng-message = "required"> This field cannot be blank </div>
      <div ng-message="email">You have entered an incorrect email value</div>
