# Don’t commit the following directories created by pub.
build/
packages/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

.idea/
angular_webApp/src/bower_components/
*.log
web/.sass-cache/
web/node_modules/
web/src/bower_components/
