
  <h4 class="history-date">
    <span ng-bind="title"></span>
  </h4>
  <div class="list-group">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-1">
          <col class="col-xs-4">
          <col class="col-xs-1">
          <col class="col-xs-1">
          <col class="col-xs-1">
        </colgroup>
        <thead>
          <tr>
            <th colspan="2">Question Preview</th>
            <th>Type</th>
            <th>Difficulty</th>
            <th>Timing</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="5" style="text-align: right; font-weight: 600">Total: {{ roundSessions.length }}</td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="roundSession in roundSessions">
            <td>
              <a href="#/{{groupId}}/questions/{{roundSession.question_id}}" target="_blank">
                <i ng-if="roundSession.outcome === 'correct'" class="fa fa-check bg-success outcome"></i>
                <i ng-if="roundSession.outcome === 'incorrect'" class="fa fa-times bg-danger outcome"></i>
                <i ng-if="roundSession.outcome !== 'correct' && roundSession.outcome !== 'incorrect'" class="fa fa-minus bg-default outcome-skipped outcome"></i>
              </a>
            </td>
            <td>
              <a href="#/{{groupId}}/questions/{{roundSession.question_id}}" target="_blank">
                <p ng-bind-html="roundSession.question_stimulus | htmlToPlaintext | truncate:50 "></p></td>
              </a>
            <td>{{roundSession.track_name}}</td>
            <td><div ng-bind="roundSession.experience_points | level"></div></td>
            <td>{{( roundSession.time_to_answer > 0 ? roundSession.time_to_answer + "s" : "Skipped")}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
