<div class="history-list row" ng-repeat="question in questions">
  <!-- Correct/Incorrect - Title - Track - Difficulty - Time Answered - Tags - Time to Answer - Avg - Difference -->
  <div ng-if="true" class="history-item col-md-2 bg-success timing-padding">
    <i class="fa fa-check"></i>
  </div>
  <div ng-if="false" class="history-item col-md-2 bg-danger">
    <i class="fa fa-times"></i>
  </div>
  <div class="history-item col-md-2 timing-padding"></div>
  <div class="history-item col-md-2 timing-padding"></div>
  <div class="history-item col-md-2 timing-padding"></div>
  <div class="history-item col-md-2 timing-padding"></div>
  <div class="history-item col-md-2 timing-padding"></div>
  <div class="history-item col-md-2 timing-padding"></div>
  <div class="history-item col-md-2 timing-padding"></div>
  <div class="history-item col-md-2 timing-padding"></div>
</div>
