<div class="choice"  correct="{{item.correct}}" ng-repeat="item in items">
<div class="divisor" ng-if="($index % 3) ==0">
<div >Blank {{($index / 3) +1}}</div>
<hr>
</div>
    <button id="{{item.name}}" type="button" class="btn-option btn-primary btn-rounded letter" >{{item.option}}</button>
    <div class="middle">
        <input id="{{item.position}}" type="checkbox" name="choice"  value="{{item.position}}"  />
        <div class="content" >
            <div ng-bind-html="item.body"></div>
        </div>
    </div>
    <div id="explanationAnswerPanel" ng-if="showExplanation" class="fadein " ng-class="{'answer-correct-panel': item.correct, 'answer-incorrect-panel': !item.correct}">
        <div class="explain-margin" ng-bind-html='item.explanation'></div>
    </div>
 </div>