<div id="sat" class="choice"  >
    <div class="row matrix first-set">
        <div class="col-md-1">
            </div>
        <div class="col-md-1">
            1
        </div>
        <div class="col-md-1">
            /
        </div>
        <div class="col-md-1">
            7
        </div>
    </div>

    <div class="row matrix second-set">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <button  type="button" class="btn-option btn-rounded matrix" >/</button>
        </div>
        <div class="col-md-1">
            <button  type="button" class="btn-option btn-rounded matrix" >/</button>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="row matrix second-set">
        <div class="col-md-1">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
        <div class="col-md-1">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
        <div class="col-md-1">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
        <div class="col-md-1">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
    </div>
    <div class="row matrix"></div>
    <div class="row matrix">
    <div ng-repeat="item in items">
        <div class="row matrix">
    <div ng-repeat="col in cols">
        <div class="col-md-1">
                <p>
                    <button  type="button" class="btn-option btn-rounded matrix" >{{$parent.$index}}</button>
                </p>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>

