<div id="sat" class="choice"  >
<table>
    <tr class="first-set">
        <td class="column-matrix">   </td>
        <td class="column-matrix"><h4><b>1</b></h4></td>
        <td class="column-matrix"><h4><b>/</b></h4></td>
        <td class="column-matrix"><h4><b>7</b></h4></td>
    </tr>
    <tr class="second-set">
        <td class="column-matrix"></td>
        <td class="column-matrix">  <button  type="button" class="btn-option btn-rounded matrix" >/</button></td>
        <td class="column-matrix">  <button  type="button" class="btn-option btn-rounded matrix" >/</button></td>
        <td class="column-matrix"></td>
    </tr>
    <tr class="second-set">
        <td class="column-matrix"> <button  type="button" class="btn-option btn-rounded matrix" >.</button></td>
        <td class="column-matrix"> <button  type="button" class="btn-option btn-rounded matrix" >.</button></td>
        <td class="column-matrix"> <button  type="button" class="btn-option btn-rounded matrix" >.</button></td>
        <td class="column-matrix"> <button  type="button" class="btn-option btn-rounded matrix" >.</button></td>
    </tr>
    <tr ng-repeat="item in items">
            <td class="column-matrix" ng-repeat="col in cols">
                    <p>
                        <button  type="button" class="btn-option btn-rounded matrix" >{{$parent.$index}}</button>
                    </p>
            </td>
    </tr>
</table>

 <!--

    <div class="row matrix second-set">
        <div class="column-matrix">
        </div>
        <div class="column-matrix">
            <button  type="button" class="btn-option btn-rounded matrix" >/</button>
        </div>
        <div class="column-matrix">
            <button  type="button" class="btn-option btn-rounded matrix" >/</button>
        </div>
        <div class="column-matrix">

        </div>
    </div>
    <div class="row matrix second-set">
        <div class="column-matrix">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
        <div class="column-matrix">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
        <div class="column-matrix">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
        <div class="column-matrix">
            <button  type="button" class="btn-option btn-rounded matrix" >.</button>
        </div>
    </div>
    <div class="row matrix"></div>
    <div class="row matrix">
    <div ng-repeat="item in items">
        <div class="row matrix">
    <div ng-repeat="col in cols">
        <div class=" column-matrix">
                <p>
                    <button  type="button" class="btn-option btn-rounded matrix" >{{$parent.$index}}</button>
                </p>
        </div>
        </div>
    </div>
    </div>
    </div>
-->
</div>

