<p>
Here at Grockit, we're committed to giving you the most effective and efficient ways to practice for your test. We also value your feedback on how to improve Grockit. We've been working hard on new designs and features and we're excited to share it with you.
</p>

<h4>
  What's New:
</h4>
<ul>
  <li> New and improved interface: Easier to find what you're looking for</li>
  <li> Questions and solutions in one screen: A sleek question/answer experience </li>
  <li> Charted Progress: See what you've done over time</li>
  <li> Responsive Design: Perfect for tablets</li>
  <li> Cleaner explanation layout</li>
  <li> Don't know how to start a question? You can click to see the answer immediately. (This will mark the question as "skipped" so you won't see it again.)</li>
  <li> For GMAT, SAT and ACT you can review your score prediction </li>
  <li> Video explanations pop up in a simpler way </li>
</ul>

<h4>
  Coming Soon:
</h4>
<ul>
  <li> Completely customize your practice questions the way you want - by topics, tags and difficulty level</li>
  <li> See how many questions you've answered in various sections </li>
  <li> Videos for question explanation tags so you can watch refresher vidoes for various topics</li>
  <li> And more...</li>
</ul>
<p> 
If you have any feedback or questions or if anything seems wrong with the display, please email our product team at
<a href="mailto:feedback@grockit.com">&nbsp; <i class="profile-list-icon fa fa-envelope" style="color: #888"></i>&nbsp; feedback@grockit.com </a>
</p>
