<h3> Introducing Grockit 2.0 </h3>

<ul>
  <li> New and improved interface: Easier to find what you're looking for</li>
  <li> Questions and solutions in one screen: A sleek question/answer experience </li>
  <li> Charted Progress: See what you've done over time
  <li> Responsive Design: Perfect for tablets
</ul>

<p> 
Here at Grockit, we're committed to giving our students the most effective and efficient ways to practice for your tests. We also value your feedback and ideas on how to make Grockit even better. 
</p>

<p>
So today we're excited to unveil the first of many updates to Grockit, based on your suggestions. You can now answer adaptive questions in a simpler layout and see how many questions you've answered over time. You'll notice a cleaner interface so it's easier to find what you're looking for.
</p>

<p>
TO check it out, click "Try Grockit 2.0" in the Practice screen. You can easily go back to the old Grockit by clicking 
<a>Switch to original Grockit</a>
</p>

<p>
In the next few weeks we'll be tweaking these features, rolling out new features and listening to your feedback along the way. You'll soon be able to:
  <ul>
    <li>Completely customize your practice questions the way you want</li>
    <li>More easily access and watch videos</li>
    <li>See how many questions you've answered in various sections</li>
    <li>And more!</li>
  </ul>
</p>

<p>
Stay tuned! We have big plans in store for the summer and beyond.
</p>

<p> 
If you have any feedback or questions, please email our product team at 
<a href="mailto:feedback@grockit.com">&nbsp; <i class="profile-list-icon fa fa-envelope" style="color: #888"></i>&nbsp; feedback@grockit.com </a>
</p>
