.practice-header  {
  .practice-element-sm {
    width: 6.55%
  }
  .practice-element {
    //border: 1px solid #EDEDED;
    //border: 1px solid #000;
    font-size: 13px;
  }
  .practice-xl {
    height: 42px;
  }
  .practice-sm {
    height: 25px;
    padding-top: 2px;
  }
  .practice-align {
    text-align: center;
  }
}

.practice-result {
  line-height: 45px;
}

.practice-result .fa {
  font-size: 20px;
}

.practice-offset {
  width: 44%;
}

.practice-data {
  font-weight:bold;
  font-size: 18px;
  color: #555;
}

.practice-tags {
  margin-top: 10px;
}

.timing-check {
  height: 70px;
  text-align: center;
}
.timing-padding{
  margin-bottom: -17px;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.tags-only{
  text-align: left;
  display: inline;
  padding-left: 5px;
}

#skipAction {
  cursor: pointer;
}

.timing-skills{
  height: 100%;
  text-align: left;
  margin-top: -10px;
  margin-left: 2px;
  margin-right: 2px;
}

.timing-box{
  height: 70px;
  text-align: center;
  padding-top: 8px;
}
.timing-average{
  height: 70px;
  text-align: center;
  padding-top: 12px;
}
.timing-answeredC{
  height: 70px;
  text-align: center;
  padding-top: 4px;
}

.state-overview{
  margin-left: -1px;
  margin-right: -1px;
}


.row-fluid.icon-btn {
  margin-top: 0;
  margin-bottom: 20px;
}
.row-fluid.check {
  margin-top: 0;
  margin-bottom: 20px;
}
.no-hover:hover{
  background: white !important;
}
#practice{

  .bad-numeric-input{
    border-color: #e66454;
  }
  .correct-numeric-input {
    border-color: #4cae4c;
  }
  .columnsContainer {
    position: relative;

  }

  .leftColumn { margin-bottom: .5em; text-align: justify; }


  /* MEDIA QUERIES */
  @media screen and (min-width: 47.5em ) {

    .rightColumn { top: 0; right: 0; }
  }


  #Panel1 img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-container {
    position: relative;
    padding-bottom: 8.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

  }

  .video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .choice{
    margin-bottom: -1px;
  }

  .choice input {
    cursor: default;
    display: none;
  }

  .btn-option.btn-rounded {
    border-radius: 9999px;
  }

  .divisor {
    color: $divisor;
    font-weight: bold;
  }

  #numericEntry{
    max-width: 30%;
  }

  div.content {
    margin-left:38px;
    padding-bottom: 10px;
  }
  div.middle {
    margin-top: 8px;
    padding-top: 5px;
  }


 .hide{
   display: none;
 }
  //matrix question
  #sat{
    width: 200px;
  }

  .first-set{
    margin-left: 15px;
    margin-right: 13px;
  }
  .second-set{
    margin-left: 13px;
    margin-right: 13px;
    background-color: $letterCircle;
  }

  button.matrix {
    display: block;
    font-size: 14px;
    padding: 0px 9px!important;
    border: 2px solid $letterCircle;
    font-weight: 700;
    height: 31px;
    width: 31px;


  }
  button.matrixTop {
    display: block;
    font-size: 14px;
    padding: 0px 9px!important;
    border: 2px solid $letterCircle;
    font-weight: 700;
    height: 31px;
    width: 31px;


  }

  .empty-space-matrix{
    padding-left: 30px;
  }

  table#spr_input tr#slash td.empty {
    cursor: default;
    background: #bebebe;
  }

  table#spr_input td.empty {
    cursor: default;
    background: #bebebe;
  }

  table#spr_input td {
    padding: 6px 12px;
    border-right: 1px solid #000;
    cursor: pointer;
  }
  table#spr_input tbody {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }

  button.letter {
    display: block;
    font-size: 14px;
    position: absolute;
    text-align: center;
    border: 3px solid $letterCircle;
    font-weight: 700;
    height: 31px;
    width: 31px;
    margin-top: -4px;

  }
  .expandable-section {
    padding:10px 10px;
    background-color:#eee;
    display:none;
  }
  .score-prediction-graph{
    max-width: 400px;
  }
  .question-explain{
    background: $questionExplainBg;
    border-color: #bcbcbc;
    border: 1px solid $letterCircle;
    border-radius: 5px;
    padding: 10px;

  }

  .explain-margin{
    color: black;
    margin: 2px 4px 2px 2px;
  }
  .answer-correct-panel{
    background: $answerCorrectPanelBg;
    color: $answerCorrectPanelCol;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
  }
  .answer-incorrect-panel{
    background:  $lightInvalidGray;
    color: $invalidRed;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
  }
  .incorrectAnswer.choice #explanationAnswerPanel {
    background:  $lightInvalidRed;
    color: $invalidRed;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
  }

  .answer-incorrect-numEntry{
    background:  $lightInvalidRed;
    color: $invalidRed;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
  }

  .fractionEntry{
    max-width: 30%;
    margin-left: 35%;
  }

  .answer-status div {
    margin-top: -14px;
    margin-right: 6px;
    color: white;
  }

.answer-percent{
  color: black;
  font-size: 14px;
}
/*Class from old Grockit*/
  div.sentence_correction_underline {
    display: inline;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid #000;
    line-height: 36px;
  }
  div.sentence_correction_letter {
    position: absolute;
    top: 6px;
    left: 0;
    text-align: center;
    width: 100%;
    line-height: 34px;
  }
  div.sentence_correction_stimulus {

    margin-bottom: 5px;
  }

  /*End classes from old Grockit*/


}


.question-status {
  width: 24px;
  margin-left: 2px;
  margin-bottom: 2px;
}


.msg {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom:2px;
}
.loader_box {
  text-align: center;
  width: 320px;
  border: 1px solid #999;
  padding: 1px;
  height: 8px;
  margin-right: auto;
  margin-left: auto;
}
.loader {
  width: 0;
  height: 100%;
  background-color: #6188F5;
  background-repeat: repeat-x;
  background-position: 0 0;
  /*background-size*/
  -webkit-background-size: 16px 8px;
  -moz-background-size: 16px 8px;
  -o-background-size: 16px 8px;
  background-size: 16px 8px;
  background-image: -webkit-linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
  background-image: -moz-linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
  background-image: -o-linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
  background-image: linear-gradient(315deg,transparent,transparent 33%,rgba(0, 0, 0, 0.12) 33%,rgba(0, 0, 0, 0.12) 66%,transparent 66%,transparent);
  /*animation*/
  -webkit-animation: load 5s linear 0 infinite;
  -moz-animation: load 5s linear 0 infinite;
  -ms-animation: load 5s linear 0 infinite;
  -o-animation: load 5s linear 0 infinite;
  animation: load 5s linear 0 infinite;
}
/* Then animate the stuff */
@-webkit-keyframes load {
  0% { width: 0% ;
    background-position:0 0;}
  100% { width: 100%;
    background-position:-40px 0;
  }
}
@-ms-keyframes load {
  0% { width: 0% ;
    background-position:0 0;}
  100% { width: 100%;
    background-position:-40px 0;
  }
}
@-o-keyframes load {
  0% { width: 0% ;
    background-position:0 0;}
  100% { width: 100%;
    background-position:-40px 0;
  }
}
@keyframes load {
  0% { width: 0% ;
    background-position:0 0;}
  100% { width: 100%;
    background-position:-40px 0;
  }
}
