<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:&nbsp;</div>
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
        <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
</ul>

<div id="dashboard-practice">
<div class="page-header">
    <h2><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;<span ng-bind="trackInfo.titleQuest"></span> Dashboard!
    </h2><br>
</div>

<div class="profile-content">

    <div class="col-md-6 col-lg-offset-5" ng-if="!historyVisible && loading">
        <div id="inTurnFadingTextG" >
            <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">
                L</div>
            <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">
                o</div>
            <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">
                a</div>
            <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">
                d</div>
            <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">
                i</div>
            <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">
                n</div>
            <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">
                g</div>
            <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">
                .</div>
            <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">
                .</div>
            <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">
                .</div>
        </div>
    </div>

    <div class="row bounceInDown animated" ng-if="historyVisible">
        <div class="col-sm-12">
            <span>Here's a chart of the questions you've answered. The more questions you answer, the more you'll improve!</span>
        </div>
        <div class="col-sm-12 no-padding-hr">
            <div class="panel" ng-if="historyVisible">
                <div class="panel-body no-padding">
                    <div id="graphPanel" class="no-padding-l">
                        <div line-chart id="hero-graph" data-options="chart_options" style="height: 183px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;" class="bounceInDown animated">

        <div class="row ">

            <div class="panel widget-tasks">
                <div class="panel-heading">
                    <span class="panel-title">
                       <h4> <i class="panel-title-icon fa fa-star-o"></i>Challenge</h4>
                    </span>
                </div>
                <div class="panel-body ui-sortable">
                    <div class="row no-padding-r">
                        <button class="btn btn-primary btn-lg float-right" ng-click="newChallenge()"><span ng-bind="titleQuest"></span> Challenge&nbsp; &#10095;</button>

                        <p>Challenge yourself with 10-12 questions automatically selected based on your weaknesses.</p>
                    </div>


                </div>
            </div>

        </div>

        </div>


    <div class="row" >
    <div class="col-md-12 no-padding">

        <div class="panel topic-content panel-dark widget-profile">
            <div class="panel-heading">
                <button class="float-right btn btn-labeled  btn-primary btn-flat" ng-click="StartPractice($index)">
                    <span class="btn-label icon fa fa-lightbulb-o"></span>Start</button>

                <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>
                Select Topics</span>
            </div>

            <div class="widget-profile-counters">

                <div class=" item-tag">
                    <div class="col-md-3 bar-col">
                        <div class="  text-center">
                            <div class="progress progress-striped active">
                                <div data-toggle='tooltip' data-placement='bottom' data-original-title='Accuracy(Percent Correct) 10%'
                                     class="progress-bar progress-bar-success" style="width: 90%;"></div>
                            </div>
                            30% accurate
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="  text-center">
                            <h4><b><span class="badge badge-success">79</span></b>/80</h4>
                            <h4>Questions</h4>
                        </div>
                    </div>
                    <div class="col-md-4  tag-col">
                        <div class="  text-center">
                            <h2>Number of Properties</h2>Algebra,Exponents,etc.
                        </div>
                    </div>


                    <div class="col-md-3 ">
                        <div class="  text-right">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="checkbox"> Easy
                                </label>
                                <label class="btn btn-info active">
                                    <input type="checkbox"> Medium
                                </label>
                                <label class="btn btn-info active">
                                    <input type="checkbox"> Hard
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class=" item-tag" >
                    <div class="col-md-3 bar-col">
                        <div class="  text-center">
                            <div class="progress progress-striped active">
                                <div data-toggle='tooltip' data-placement='bottom'
                                     data-original-title='Accuracy(Percent Correct) 10%' class="progress-bar progress-bar-warning" style="width: 60%;"></div>
                            </div>
                            30% accurate
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center">
                            <h4><b>
                                <span class="badge badge-info">78</span>
                            </b>/80</h4>
                            <h4>Questions</h4>
                        </div>
                    </div>
                    <div class="col-md-4  tag-col">
                        <div class="  text-center">
                            <h2>Number of Properties</h2>Algebra,Exponents,etc.
                        </div>
                    </div>


                    <div class="col-md-3 ">
                        <div class="  text-right">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="checkbox"> Easy
                                </label>
                                <label class="btn btn-info active">
                                    <input type="checkbox"> Medium
                                </label>
                                <label class="btn btn-info active">
                                    <input type="checkbox"> Hard
                                </label>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

</div>