<div layout="row" layout-align="center center">
  <div flex ng-if="vmPr.questionAnalytics" class="reset-layout" question-timing data="vmPr.timingData" confirmed="vmPr.userConfirmed" your-time="vmPr.timeToAnswer" answer-status="vmPr.answerStatus" xp-tag="vmPr.explanationInfo.xpTag" percent-answered="vmPr.percentAnswered" last-answer-loaded="vmPr.questionData.kind"></div>
</div>
<div layout="row" layout-align="start center">
  <div id="practice" ng-show="!vmPr.loading" layout="row" layout-sm="column" layout-fill layout-wrap>
    <div id="Panel1" class="leftColumn" flex layout-fill layout-padding layout-align="start center">
      <div id="question-explain" class=" explain-margin">
        <div class="panel" layout-fill>
          <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-folder-open"></i>Explanation</span>
          </div>
          <div class="panel-body">
            <span ng-bind-html='vmPr.explanationInfo.questionExplanation'></span>
            <div id="videoExplain" ng-if="vmPr.videoInfo.showVideo">
              <br>
              <div class="video-container">
                <button youtube rel="{{vmPr.videoInfo.videoId}}" class="btn btn-flat btn-labeled btn-primary" id="videoExplainbtn">
                  <span class="btn-label text-lg icon fa fa-youtube-play"></span><span ng-bind="vmPr.videoInfo.videoText"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sentence_correction_stimulus" ng-class="{' explain-margin':vmPr.questionData.questionInformation!=''}" ng-if="vmPr.questionData.questionInformation!=''">
        <div class="panel" layout-fill>
          <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-file-text-o"></i>Information</span>
          </div>
          <div class="panel-body">
            <div class="question-information" ng-class="{'fixed-width': vmPr.questionData.fixedWidth}" ng-bind-html='vmPr.questionData.questionInformation'></div>
          </div>
        </div>
      </div>
    </div>
    <div id="Panel2" class="page page-home rightColumn" flex layout-fill layout-padding layout-align="start center">
      <div class="panel" layout-fill>
        <div class="panel-heading">
          <span class="panel-title"><i class="panel-title-icon fa fa-flask"></i>Question</span>
        </div>
        <div class="panel-body">
          <div id="answercontent" class="info-box">
            <div id="solutionarea">
              <span ng-bind="vmPr.questByQSetTitle"></span>
              <div ng-bind-html='vmPr.questionData.stimulus'></div>
              <br>
              <!--answer-->
              <div ng-include="vmPr.answerType"></div>
            </div>
            <md-chips ng-show="vmPr.explanationInfo.showExplanation">
              <md-chip ng-repeat="tag in vmPr.explanationInfo.tags" class="skill-label label-info">{{tag.name}}</md-chip>
            </md-chips>
          </div>
        </div>
      </div>
      <div ng-if="vmPr.explanationInfo.tagsResources.length>0" class="col-lg-12 col-md-6 col-sm-6 timing-padding">
        <section class="panel" layout-fill>
          <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-folder-open"></i>Skills to Review
            </span>
          </div>
          <div class="panel-body no-padding-vr">
            <div question-tags tags="vmPr.explanationInfo.tagsResources"></div>
          </div>
        </section>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="push">
  </div>
</div>
