<div class="fadeIn animated">
		<div class="row ">
				<div class="panel widget-tasks">
						<div class="panel-heading">
            <span class="panel-title">
                       <h4><i class="panel-title-icon fa fa-star-o"></i>Challenge</h4>
                    </span>
						</div>
						<div class="panel-body ui-sortable">
								<div class="row no-padding-r">
										<button class="btn btn-primary btn-lg float-right" ng-click="newChallenge()"><span
												ng-bind="titleQuest"></span> Challenge&nbsp; &#10095;</button>

										<p>Challenge yourself with 10-12 questions automatically selected based on your weaknesses.</p>
								</div>

						</div>
				</div>
		</div>
</div>