<a href="javascript:void(0)" class="list-group-item no-margin-vr">
		<div class="row track-list-padding-hr">

				<div class="col-md-3 bar-col text-center">
						<div class="progress progress-striped active">
								<div data-toggle='tooltip' data-placement='bottom' data-original-title='Accuracy(Percent Correct) 10%' class="progress-bar progress-bar-success" style="width: 90%;"></div>
						</div>
						30% accurate
				</div>

				<div class="col-md-2 text-center ">
						<h4 class="no-margin-vr"><b><span class="badge badge-success">79</span></b>/80</h4>
						<h4>Questions</h4>
				</div>

				<div class="col-md-4 text-center ">
						<h2 class="no-margin-vr">Number of Properties</h2>Algebra,Exponents,etc.
				</div>

				<div class="col-md-3 text-right">
						<div class="btn-group" data-toggle="buttons-checkbox">
								<button type="button" class="btn" ng-model="radioModel" btn-radio="'Easy'">Easy</button>
								<button type="button" class="btn" ng-model="radioModel" btn-radio="'Medium'">Medium</button>
								<button type="button" class="btn" ng-model="radioModel" btn-radio="'Hard'">Hard</button>
						</div>
				</div>
		</div>

</a>