<h1>GMAT Question History</h1>
<br>
<h3 class="history-date">September 7</h3>
<div class="history-list row">
  <div class="history-item col-md-1 bg-success history-result">
    <i class="fa fa-check"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div class="history-item col-md-1 bg-danger history-result">
    <i class="fa fa-times"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div  class="history-item col-md-1 bg-success history-result">
    <i class="fa fa-check"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div ng-if="true" class="history-item col-md-1 bg-success history-result">
    <i class="fa fa-check"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div  class="history-item col-md-1 bg-danger history-result">
    <i class="fa fa-times"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div pagination class="history-pagination" total-items="vmHist.questions.length" ng-model="vmHist.currentPage" ng-change="vmHist.pageChanged()"></div>

<h3 class="history-date">September 6</h3>
<div class="history-list row">
  <div ng-if="true" class="history-item col-md-1 bg-success history-result">
    <i class="fa fa-check"></i>
  </div>
  <div ng-if="false" class="history-item col-md-1 bg-danger history-result">
    <i class="fa fa-times"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div class="history-item col-md-1 bg-danger history-result">
    <i class="fa fa-times"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div class="history-item col-md-1 bg-danger history-result">
    <i class="fa fa-times"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div ng-if="true" class="history-item col-md-1 bg-success history-result">
    <i class="fa fa-check"></i>
  </div>
  <div ng-if="false" class="history-item col-md-1 bg-danger history-result">
    <i class="fa fa-times"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
<div class="history-list row">
  <div ng-if="true" class="history-item col-md-1 bg-success history-result">
    <i class="fa fa-check"></i>
  </div>
  <div ng-if="false" class="history-item col-md-1 bg-danger history-result">
    <i class="fa fa-times"></i>
  </div>
  <div class="col-md-11">
    <div class="row history-first-row">
      <div class="history-item col-md-3"><a href="#">Shana has 56 pairs of shows, 25%...<a/></div>
      <div class="history-item col-md-3">GMAT</div>
      <div class="history-item col-md-3">Your time to answer: 01:47 mins</div>
      <div class="history-item col-md-3">Difficulty: Low</div>
    </div>
    <div class="row history-second-row">
      <div class="history-item col-md-3">Answered at: 3:29 p.m.</div>
      <div class="history-item col-md-3">Average Time to Answer: 90s</div>
      <div class="history-item col-md-3">You took 17s more than the average</div>
      <div class="history-item col-md-3">Tags: Algebra, Arithmetic, Percents, Problem Solving, Word Problems</div>
    </div>
  </div>
</div>
