.outcome {
  width: 100%;
  height:100%;

  text-align: center;
  font-size: 25px;

}

.history-container {
  margin: 0 -15px;

  .history-title {
    margin: 10px 15px;
  }
}

.history-list:nth-child(2n) {
  background-color: #ededed
}
.history-row {
  margin: 0 !important;
}
.history-list {
  margin: 0 !important;
  background-color: #f2f2f2;

  padding: 8px !important;
  line-height: 25px;

  .history-item {

    a {
      line-height: 10px;
    }

  }
}

.answer-time {
  min-width: 60px;
}

#fixed{
  width: 100%;
  overflow: auto;
}

.history-day {
  width: 200px;
  height: 40px;
  line-height: 25px;
  cursor: pointer;
  left: 10px;
  text-align: left;

  #identifier{
    padding-left: 8px !important;
  }

  .history-day-spinner {
    position: absolute;
    right: 8px;
    top: -2px;

    .circularG {
      background-color: #ffffff !important;
    }
  }
}
