<div class="history-container">
  <h1 class="history-title">Question History</h1>
  <br>
  <div id="fixed" when-scrolled="vmHist.getQuestions()" set-height >
    <div ng-repeat="questionPerDay in vmHist.questionsPerDay" history-list identifier="{{questionPerDay.day}}" title="{{questionPerDay.day}} [{{questionPerDay.roundSessions.length}} questions]" round-sessions="questionPerDay.roundSessions" group-id="vmHist.groupId" on-collapse="vmHist.onCollapse()"></div>
  </div>
  <div spinner ng-if="vmHist.loading">
  </div>
</div>
