.outcome {
  width: 100%;
  height:100%;

  text-align: center;
  font-size: 25px;

}
.history-list:nth-child(2n) {
  background-color: #ededed
}
.history-row {
  margin: 0 !important;
}
.history-list {
  margin: 0 !important;
  background-color: #f2f2f2;

  padding: 8px !important;
  line-height: 25px;

  .history-item {

    a {
      line-height: 10px;
    }

  }
}

.answer-time {
  min-width: 60px;
}
