.show-score {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu {
  border: 2px solid #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#practice-settings {
  position: fixed;
  right: -281px;
  width: 270px;
  top: 163px;
  padding-right: 10px;
  background: #333;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999998;
  &.open {
    right: -10px;
  }
  > {
    .header {
      position: relative;
      z-index: 100000;
      line-height: 20px;
      background: #607D8B;
      color: #fff;
      font-size: 11px;
      font-weight: 600;
      padding: 10px 20px;
      margin: 0;
    }
    div {
      position: relative;
      z-index: 100000;
      background: #263238;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    > md-slider {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

#practice-settings-toggler {
  font-size: 21px;
  width: 50px;
  height: 40px;
  padding-right: 10px;
  position: absolute;
  left: -40px;
  top: 0;
  background: #607D8B;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  z-index: 99999;
  text-decoration: none !important;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

#practice-settings.open #practice-settings-toggler {
  font-size: 16px;
}

#practice-settings-list {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    > span {
      line-height: 20px;
      color: #fff;
      display: block;
      padding: 12px 20px;
      cursor: pointer;
    }
    + li {
      border-top: 1px solid #333;
    }
  }
}

#practice-settings .practice-checkbox {
  position: absolute;
  right: 20px;
  top: -4px;
}

.practice-checkbox {
  .md-label:before {
    content: '';
  }
}

.right-to-left {
  #practice-settings {
    left: -270px;
    right: auto;
    padding-right: 0;
    padding-left: 10px;
    &.open {
      left: -10px;
      right: auto;
    }
  }
  #practice-settings-toggler {
    padding-left: 10px;
    padding-right: 0;
    left: auto;
    right: -40px;
  }
}

// timeline
.timeline {
  position: relative;
  margin: 10px 30px;
}

.tl-header {
  position: relative;
  width: 140px;
  padding: 8px 0;
  text-align: center;
  left: 0;
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 14px;
  border-radius: 2px;
}

.timeline:after,
.timeline:before {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  bottom: 0;
}

.timeline:before {
  width: 4px;
  top: 0;
  margin-left: -2px;
}

@media (min-width: 768px) {
  .timeline:after,
  .timeline:before {
    left: 100px;
  }
}

.timeline:after,
.timeline:before,
.tl-header,
.tl-icon {
  background: #ddd;
}

.tl-header {
  box-shadow: 0 0 0 4px #f6f6f6;
}

.tl-entry {
  margin-left: 30px;
  margin-right: 0;
  padding-left: 36px;
  padding-right: 0;
  position: relative;
  margin-bottom: 40px;
}

.tl-entry:before {
  background: #1d89cf;
  box-shadow: 0 0 0 3px #f6f6f6;
}

.tl-entry:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  left: -3px;
  right: auto;
  border-radius: 999999px;
  top: 20px;
}

.tl-time {
  position: absolute;
  left: auto;
  right: auto;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  white-space: nowrap;
  color: #888;
  top: -22px;
  font-size: 13px;
}

.tl-icon {
  box-shadow: 0 0 0 4px #f6f6f6;
}

.tl-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 999999px;
  left: -20px;
  right: auto;
  top: 4px;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}

.tl-body {
  position: relative;
  padding: 15px;
  margin: 0;
}

.img-responsive {
  display: block;
  height: auto
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  border: 1px solid #ddd;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: auto
}

.img-circle {
  border-radius: 50%
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 23px;
}

.text-md {
  font-size: 18px;
}
.text-sm {
  font-size: 12px;
}

.text-justify {
  text-align: justify
}

.text-nowrap {
  white-space: nowrap
}

.text-lowercase {
  text-transform: lowercase
}

.text-uppercase {
  text-transform: uppercase
}

.text-capitalize {
  text-transform: capitalize
}
.text-underline{
  text-decoration: underline;
}

.float-right {
  float: right;
  margin-left: .3em
}

.float-left {
  float: left;
  margin-right: .3em
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0
}

.list-group-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #eff2f7
}

.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px
}

.list-group-item>.badge+.badge {
  margin-right: 5px
}

a.list-group-item {
  color: #555
}

a.list-group-item .list-group-item-heading {
  color: #333
}

a.list-group-item:focus,
a.list-group-item:hover {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5
}

.list-group-item.disabled,
.list-group-item.disabled:focus,
.list-group-item.disabled:hover {
  background-color: #eee;
  color: #777;
  cursor: not-allowed
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading {
  color: inherit
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text {
  color: #777
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #3F51B5;
  border-color: #eff2f7
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active .list-group-item-heading>.small,
.list-group-item.active .list-group-item-heading>small,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading>.small,
.list-group-item.active:focus .list-group-item-heading>small,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading>.small,
.list-group-item.active:hover .list-group-item-heading>small {
  color: inherit
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: #d1d6ef
}

.list-group-item-success {
  color: #687F42;
  background-color: #F0FBE3
}

a.list-group-item-success {
  color: #687F42
}

a.list-group-item-success .list-group-item-heading {
  color: inherit
}

a.list-group-item-success:focus,
a.list-group-item-success:hover {
  color: #687F42;
  background-color: #e4f8cd
}

a.list-group-item-success.active,
a.list-group-item-success.active:focus,
a.list-group-item-success.active:hover {
  color: #fff;
  background-color: #687F42;
  border-color: #687F42
}

.list-group-item-info {
  color: #3B799A;
  background-color: #E6F5FD
}

a.list-group-item-info {
  color: #3B799A
}

a.list-group-item-info .list-group-item-heading {
  color: inherit
}

a.list-group-item-info:focus,
a.list-group-item-info:hover {
  color: #3B799A;
  background-color: #ceecfb
}

a.list-group-item-info.active,
a.list-group-item-info.active:focus,
a.list-group-item-info.active:hover {
  color: #fff;
  background-color: #3B799A;
  border-color: #3B799A
}

.list-group-item-warning {
  color: #9A7E26;
  background-color: #FFFAED
}

a.list-group-item-warning {
  color: #9A7E26
}

a.list-group-item-warning .list-group-item-heading {
  color: inherit
}

a.list-group-item-warning:focus,
a.list-group-item-warning:hover {
  color: #9A7E26;
  background-color: #fff3d4
}

a.list-group-item-warning.active,
a.list-group-item-warning.active:focus,
a.list-group-item-warning.active:hover {
  color: #fff;
  background-color: #9A7E26;
  border-color: #9A7E26
}

.list-group-item-danger {
  color: #A1513C;
  background-color: #FBE9E6
}

a.list-group-item-danger {
  color: #A1513C
}

a.list-group-item-danger .list-group-item-heading {
  color: inherit
}

a.list-group-item-danger:focus,
a.list-group-item-danger:hover {
  color: #A1513C;
  background-color: #f7d6d0
}

a.list-group-item-danger.active,
a.list-group-item-danger.active:focus,
a.list-group-item-danger.active:hover {
  color: #fff;
  background-color: #A1513C;
  border-color: #A1513C
}

.panel-heading>.dropdown .dropdown-toggle,
.panel-title,
.panel-title>a {
  color: inherit
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3
}

.panel {
  margin-bottom: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-radius: 2px;
}

.panel-title,
.panel>.list-group,
.panel>.panel-collapse>.list-group,
.panel>.panel-collapse>.table,
.panel>.table,
.panel>.table-responsive>.table {
  margin-bottom: 0
}

.panel-body {
  padding: 15px
}

.panel-body:after,
.panel-body:before {
  content: " ";
  display: table
}

.panel-heading {
  background: #fafafa;
  padding: 10px 15px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px
}

.panel-title {
  margin-top: 0;
  font-size: 16px
}

.panel-footer {
  padding: 10px 15px;
  background-color: #fafafa;
  border-top: 1px solid #e2edeb;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px
}

.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0
}

.panel>.table-responsive:first-child>.table:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,
.panel>.table:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px
}

.panel>.table-responsive:last-child>.table:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,
.panel>.table:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px
}

.panel>.list-group:first-child .list-group-item:first-child,
.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px
}

.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px
}

.list-group+.panel-footer,
.panel-heading+.list-group .list-group-item:first-child {
  border-top-width: 0
}

.panel>.panel-collapse>.table caption,
.panel>.table caption,
.panel>.table-responsive>.table caption {
  padding-left: 15px;
  padding-right: 15px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
  border-top-left-radius: 1px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
  border-top-right-radius: 1px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
  border-bottom-left-radius: 1px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
  border-bottom-right-radius: 1px
}

.modal-content,
.popover,
.tooltip-inner,
.well,
.well-lg,
.well-sm {
  border-radius: 2px
}

.panel>.panel-body+.table,
.panel>.panel-body+.table-responsive,
.panel>.table+.panel-body,
.panel>.table-responsive+.panel-body {
  border-top: 1px solid #ddd
}

.panel>.table>tbody:first-child>tr:first-child td,
.panel>.table>tbody:first-child>tr:first-child th {
  border-top: 0
}

.panel>.table-bordered,
.panel>.table-responsive>.table-bordered {
  border: 0
}

.panel>.table-responsive {
  border: 0;
  margin-bottom: 0
}

.panel-group {
  margin-bottom: 20px
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 2px
}

.panel-group .panel+.panel {
  margin-top: 5px
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 1px solid #e2edeb
}

.panel-group .panel-footer {
  border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
  border-bottom: 1px solid #e2edeb
}

.panel-default {
  border-color: #e2edeb
}

.panel-default>.panel-heading {
  color: #767676;
  background-color: #F2F7F7;
  border-color: #e2edeb
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #e2edeb
}

.panel-default>.panel-heading .badge {
  color: #F2F7F7;
  background-color: #767676
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #e2edeb
}

.panel-primary {
  border-color: #3F51B5
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #3F51B5;
  border-color: #3F51B5
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #3F51B5
}

.panel-primary>.panel-heading .badge {
  color: #3F51B5;
  background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #3F51B5
}

.panel-success {
  border-color: #ebf8cd
}

.panel-success>.panel-heading {
  color: #687F42;
  background-color: #F0FBE3;
  border-color: #ebf8cd
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ebf8cd
}

.panel-success>.panel-heading .badge {
  color: #F0FBE3;
  background-color: #687F42
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #ebf8cd
}

.panel-info {
  border-color: #c5f1fa
}

.panel-info>.panel-heading {
  color: #3B799A;
  background-color: #E6F5FD;
  border-color: #c5f1fa
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #c5f1fa
}

.panel-info>.panel-heading .badge {
  color: #E6F5FD;
  background-color: #3B799A
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #c5f1fa
}

.panel-warning {
  border-color: #ffecd4
}

.panel-warning>.panel-heading {
  color: #9A7E26;
  background-color: #FFFAED;
  border-color: #ffecd4
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ffecd4
}

.panel-warning>.panel-heading .badge {
  color: #FFFAED;
  background-color: #9A7E26
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #ffecd4
}

.panel-danger {
  border-color: #f7d0d1
}

.panel-danger>.panel-heading {
  color: #A1513C;
  background-color: #FBE9E6;
  border-color: #f7d0d1
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #f7d0d1
}

.panel-danger>.panel-heading .badge {
  color: #FBE9E6;
  background-color: #A1513C
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #f7d0d1
}
