//
// You can add/overwrite all your bower_components .sass variables here
// ----------------------------------------------------------------------------------------------------
$invalidRed:        #F44336;
$lightInvalidGray:      #f2f2f2;
$lightInvalidRed :          #FF5252;
$validGreen:        #4CAF50;
$divisor:                   #5bc0de;
$letterCircle:              #E3E3DE;
$questionExplainBg:         #F2F2F2;
$answerCorrectPanelBg:      #A5D6A7;
$answerCorrectPanelCol:     #4CAF50;
$white                :     #ffffff;


