@import "colors";
@import "variables";
@import "imports";
@import "grockit";
@import "../modules/app/account/register/register.scss";
@import "../modules/app/account/login/login.scss";
@import "../modules/app/dashboard/dashboard.scss";
@import "../modules/app/practices/practice.scss";
@import "../modules/app/history/history.scss";
@import "../modules/app/video-library/video-library.scss";
@import "media-queries";
html {
  font-size: 56.5%;
  line-height: 1.1;
}

body {
  background: #f6f6f6;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  font-size: 1.6rem;
}

.mdi {
  vertical-align: middle;
}

md-backdrop {
  top: 0;
}

.pointer {
  cursor: pointer;
}

::selection {
  background: #E0F7FA;
  color: $white;
}

::-moz-selection {
  background: #3F51B5;
  color: $white;
}

:focus {
  outline: 0
}

a,
a:active,
a:focus {
  text-decoration: none
}

.app,
.app>.main-container,
html {
  min-height: 100%;
}

.app,
html {
  height: 100%;
}

.app>.main-container>.content-container {
  overflow: hidden;
  min-height: 100%;
  margin-left: 0;
}

md-radio-group[disabled] .md-container .md-off,
md-radio-button[disabled] .md-container .md-off {
  border-color: rgba(0, 0, 0, 0.26)!important;
}

md-radio-group[disabled] .md-container .md-on,
md-radio-button[disabled] .md-container .md-on {
  background-color: transparent!important;
}

md-list.md-default-theme md-list-item.md-2-line .md-list-item-text h3,
md-list.md-default-theme md-list-item.md-2-line .md-list-item-text h4,
md-list.md-default-theme md-list-item.md-3-line .md-list-item-text h3,
md-list.md-default-theme md-list-item.md-3-line .md-list-item-text h4 {
  color: #767676!important;
}
/* Sidenav area */

md-list-item.md-2-line .md-list-item-text,
md-list-item.md-2-line > .md-no-style .md-list-item-text,
md-list-item.md-3-line .md-list-item-text,
md-list-item.md-3-line > .md-no-style .md-list-item-text {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
}

md-list {
  display: block!important;
}

md-list-item,
md-list-item .md-list-item-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

md-list-item.md-no-proxy,
md-list-item .md-no-style {
  position: relative;
  padding: 0px 7px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

md-list-item.md-2-line,
md-list-item.md-2-line > .md-no-style,
md-list-item.md-3-line,
md-list-item.md-3-line > .md-no-style {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

a {
  color: inherit;
}

.menu-title {
  position: absolute;
  bottom: 12px;
  left: 12px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
}

.inset {
  display: inline-block!important;
}

//menu icon
.menu-toggle {
  position: fixed;
  top: 12px;
  left: 12px;
  color: #ffffff;
}

.management {
  margin-top: 15px;
  margin-left: 10px;
  .md-subheader-content span {
    font-weight: bold;
  }
}

#main-menu {
  z-index: 61;
  md-item a {
    cursor: pointer;
  }
  md-sidenav {
    z-index: 61;
  }
  md-list-item {
    width: 100%;
    .md-list-item-text {
      width: 100%;
      min-width: 290px;
      background: #ffffff;
    }
    a {
      background: #ffffff;
    }
  }
  md-list-item:hover {
    background: #E0E0E0;
  }
}

md-option > .md-text > .product-icon {
  height: inherit!important;
  width: inherit!important;
}

.md-select-label:first-child span {
  line-height: 2.2rem!important;
}

#main-toolbar {
  .md-toolbar-tools {
    margin-top: -8px;
    md-select, h2 {
      margin-left: 16px;
    }
    md-icon {
      cursor: pointer;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease
    }
    // md-icon:hover {
    //   margin-top:0px;
    //   -webkit-transform: rotate(360deg);
    //   -ms-transform: rotate(360deg);
    //   transform: rotate(360deg)
    // }
    .round-img {
      border-radius: 30px;
      width: 34px;
      margin: 11px 2px -2px;
    }
    md-select-label {
      color: #ffffff !important;
    }
    .payment {
      width: inherit;
      text-transform: none
    }
  }
}

.has-error {
  border: 4px solid #a94442;
}

#numericEntry,
#numerator,
#denominator {
  margin-bottom: 25px;
}

.hide-input {
  #numericEntry, #numerator, #denominator {
    display: none;
  }
}

#topics {
  padding-right: 20px;
  padding-top: 10px;
  min-height: 50px;
  padding-bottom: 5px;
  //  box-shadow: 0 3px 1px #555, 0 -2px 4px #555;
}

// footer {
//   position: fixed;
//   z-index: 20;
//   -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
// }

// .push {
//   height: 380px;
// }

.hide-footer {
  display: none;
}
.footer, .push {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: #f1f1f1;
  .md-button{
      margin: 0;
    }
}

// .footer {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1050;
//   -webkit-overflow-scrolling: touch;
//   outline: 0;
//   width: 100%;
//   _height: 1px;
//   background: #f1f1f1;
//   border: 1px solid #ccc;
//   border-bottom: 1px solid #aaa;
// }

.f-content {
  margin-bottom: 10px;
}

.feedback-box {
  padding-top: 12px;
  height: 41px;
}

.back-to-top {
  position: fixed;
  bottom: 5em;
  right: 5px;
  text-decoration: none;
  display: none;
  width: 50px;
  height: 40px;
  background: #444;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  z-index: 99999;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  font-size: 24px;
  outline: 0;
  border: 0;
  vertical-align: middle;
}

.ui-view-container {
  position: relative;
  background-color: #f6f6f6!important;
  min-height: 990px;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.960.961, 0.96);
  -moz-transform: scale3d(0.96, 0.96, 0.96);
  transform: scale3d(0.96, 0.96, 0.96);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}

[ui-view].ng-leave-actve {
  opacity: 0;
}

.main-alert {
  z-index: 40;
  position: absolute;
  top: 70px;
  left: 5px;
  right: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.alert-hidden {
  visibility: hidden;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  color: #fff;
  border-radius: .25em
}

.label:empty {
  display: none
}

.btn .label {
  position: relative;
  top: -1px
}

a.label:focus,
a.label:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.label-default {
  background-color: #777
}

.label-default[href]:focus,
.label-default[href]:hover {
  background-color: #5e5e5e
}

.label-primary {
  background-color: #3F51B5
}

.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #32408f
}

.label-success {
  background-color: #4CAF50
}

.label-success[href]:focus,
.label-success[href]:hover {
  background-color: #3d8b40
}

.label-info {
  background-color: #00BCD4
}

.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #008fa1
}

.label-warning {
  background-color: #FFC107
}

.label-warning[href]:focus,
.label-warning[href]:hover {
  background-color: #d39e00
}

.label-danger {
  background-color: #F44336
}

.label-danger[href]:focus,
.label-danger[href]:hover {
  background-color: #ea1c0d
}

.no-margin {
  margin: 0
}

.no-margin-bottom {
  margin-bottom: 0
}

.no-border {
  border: 0
}

.no-padding {
  padding: 0
}

.no-shadow {
  box-shadow: none
}

.panel {
  box-shadow: 0 0 3px rgba(0, 0, 0, .1)
}

.lt-ie9-bg {
  z-index: 11111;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  color: #999;
  padding: 100px 20px;
  text-align: center;
  font-size: 26px
}

.lt-ie9-bg a {
  color: #f5f5f5;
  border-bottom: 2px solid #fff
}

.lt-ie9-bg a:hover {
  text-decoration: none
}

.non-display {
  display: none
}
