@media #{$medium-and-up} {

}
@media #{$large-and-up} {
  #video-content{
    height: 800px;
  }
  #intercom-container .intercom-launcher {
    bottom: 170px!important;
  }
}
@media #{$large-and-down} {
  #video-content{
    height: 800px;
  }
  #intercom-container .intercom-launcher {
    bottom: 170px!important;
  }
}

@media #{$small-and-down} {
  #intercom-container .intercom-launcher {
    bottom: 85px!important;
  }
}
@media #{$medium-and-down} {

}
@media #{$medium-only} {

}

