/* MEDIA QUERIES */
@media screen and (min-width: 47.5em) {
  .rightColumn {
    top: 0;
    right: 0;
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .loader-margin {
    margin-left: 33% !important;
  }
  #topics {
    .feedback-box {
      padding-top: 12px;
      height: 41px;
      float: right !important;
    }
    .text-footer-r {
      text-align: center;
    }
    .text-footer-l {
      text-align: center;
    }
    .row {
      margin-left: 10px;
    }
  }
  #splash-loader {
    .loader_box {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .loader-margin {
    margin-left: 33% !important;
  }
  #topics {
    .feedback-box {
      padding-top: 12px;
      height: 41px;
      float: right !important;
    }
    .text-footer-r {
      text-align: center;
    }
    .text-footer-l {
      text-align: center;
    }
    .row {
      margin-left: 10px;
    }
  }
  #splash-loader {
    .loader_box {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .loader-margin {
    margin-left: 7% !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .loader-margin {
    margin-left: 33% !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .loader-margin {
    margin-left: 33% !important;
  }
  #topics {
    .feedback-box {
      padding-top: 12px;
      height: 41px;
      float: right !important;
    }
    .text-footer-r {
      text-align: center;
    }
    .text-footer-l {
      text-align: center;
    }
    .row {
      margin-left: 10px;
    }
  }
  #splash-loader {
    .loader_box {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .loader-margin {
    margin-left: 33% !important;
  }
  #topics {
    .feedback-box {
      padding-top: 12px;
      height: 41px;
      float: right !important;
    }
    .text-footer-r {
      text-align: center;
    }
    .text-footer-l {
      text-align: center;
    }
    .row {
      margin-left: 10px;
    }
  }
  #splash-loader {
    .loader_box {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
