<div ng-controller="AppController as appCtrl">
  <md-toolbar id="main-toolbar" class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="appCtrl.toggleList()">
        <md-icon class="mdi mdi-menu mdi-2x white-text" aria-label="Menu"></md-icon>
      </md-button>
      <span>
           <a ui-sref="dashboard({subject: appCtrl.activeGroupId})">
          <img alt="Grockit" style="height: 38px; margin-top: 10px;" src="assets/images/header-logo-beta.png" />
          </a>
          </span>
      <md-select ng-model="appCtrl.activeGroupId" aria-label="group">
        <md-select-label>{{$root.groupTitle}}</md-select-label>
        <md-option ng-repeat="linked in appCtrl.ugroups.linkedGroups track by $index" value="{{linked.id}}" ng-bind="linked.name" ng-click="appCtrl.groupRedirect(linked.id)">
        </md-option>
        <md-option ng-repeat="unlinked in appCtrl.ugroups.unLinkedGroups track by $index" value="{{unlinked.id}}" ng-click="appCtrl.groupRedirect(unlinked.id)" disable>
          <span ng-bind="unlinked.name"></span>
          <md-icon class="mdi mdi-1x mdi-lock-outline product-icon" aria-label="lock"></md-icon>
        </md-option>
      </md-select>
      <span flex></span>
      <!-- <span  score-prediction group-title="$root.groupTitle" score-data="appCtrl.score" is-visible="appCtrl.scoreLoading" no-score-message="More data needed for {{$root.groupTitle}} score."></span> -->
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon ng-if="appCtrl.showBuyNow" class="mdi mdi-2x mdi-schedule white-text" ng-click="appCtrl.showPaymentBanner()"></md-icon>
      </md-button>
      <!-- <label class="pointer" ng-click="appCtrl.displayMenu()">{{appCtrl.currentUser.firstName}}</label> -->
      <img class="md-fab md-primary round-img pointer" ng-src="{{::appCtrl.currentUser.avatarUrl}}" alt="User Picture" ng-click="appCtrl.displayMenu()" />
    </div>
  </md-toolbar>
  <div flex layout="row">
    <md-sidenav id="main-menu" md-component-id="left">
      <md-toolbar class="md-tall md-hue-2  menu-header">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <md-icon class="menu-toggle mdi mdi-arrow-back mdi-2x white-text" ng-click="appCtrl.closeMainMenu()"></md-icon>
          <h2 class="md-toolbar-tools md-toolbar-tools-bottom menu-title">{{$root.groupTitle}} {{$root.currentPage}}</h2>
          <span></span>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item ng-repeat="item in appCtrl.menu" ng-if="item.isReady && item.canAccess && item.shouldShow" class="md-clickable">
          <a ng-href="{{item.url}}" target="{{item.target}}">
            <div class="md-list-item-inner">
              <div class="md-list-item-text" md-ink-ripple>
                <div class="inset">
                  <md-icon class="mdi mdi-2x {{item.icon}} md-default-theme"></md-icon>
                </div>
                <div class="inset">
                  {{item.title}}
                </div>
              </div>
            </div>
          </a>
        </md-list-item>
        <md-list-item ng-repeat="item in appCtrl.menu" ng-if="item.isReady && !item.canAccess && item.shouldShow" class="md-clickable">
          <a>
            <div class="md-list-item-inner">
              <div class="md-list-item-text" md-ink-ripple>
                <div class="inset">
                  <md-icon class="md md-2x {{item.icon}} md-default-theme" aria-label="{{item.title}}"></md-icon>
                </div>
                <div class="inset">
                  {{item.title}}
                  <i class="pull-right menu-icon fa fa-lock"></i>
                </div>
              </div>
            </div>
          </a>
        </md-list-item>
        <md-subheader class="management">Settings </md-subheader>
        <md-list-item>
          <a target="_blank" ng-href="{{::appCtrl.url}}/users/{{::appCtrl.currentUser.userId}}/account">
            <div class="md-list-item-inner">
              <div class="md-list-item-text" md-ink-ripple>
                <div class="inset">
                  <md-icon class="mdi mdi-2x mdi-account-child " aria-label="Account"></md-icon>
                </div>
                <div class="inset">Account
                </div>
              </div>
            </div>
          </a>
        </md-list-item>
        <md-list-item>
          <a target="_blank" ng-href="{{::appCtrl.url}}/users/{{::appCtrl.currentUser.userId}}">
            <div class="md-list-item-inner">
              <div class="md-list-item-text" md-ink-ripple>
                <div class="inset">
                  <md-icon class="mdi mdi-2x mdi-perm-identity" aria-label="Profile"></md-icon>
                </div>
                <div class="inset">Profile
                </div>
              </div>
            </div>
          </a>
        </md-list-item>
        <md-list-item ng-controller="LogoutController as vmlogout">
          <a ng-click="vmlogout.logout()">
            <div class="md-list-item-inner">
              <div class="md-list-item-text" md-ink-ripple>
                <div class="inset">
                  <md-icon class="mdi mdi-2x mdi-settings-power" aria-label="Log Out"></md-icon>
                </div>
                <div class="inset">Log Out
                </div>
              </div>
            </div>
          </a>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content flex class="ui-view-container">
      <div data-ui-view="">
      </div>
    </md-content>
  </div>
</div>
