md-sidenav.md-locked-open,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-left,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-right,
md-sidenav.md-locked-open-remove.md-closed {
  position: static;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

// video resonsive container iframe
.video-container {
  position: relative;
  padding-bottom: 36.25%;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#video-toolbar{
    z-index: 55;
  }


.scroll {
  height: 100%;
  max-height: 400px;
  bottom: 45px;
  padding: 5px 10px;
  overflow-y: auto;
}

  .title {
    width: 750px;
    text-align: center;
    height: 500px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    &_inner {
      left: 38%;
      width: 260px;
      text-align: center;
      position: relative;
      margin-top: 17%;
      h1 {
        margin: 0;
        text-transform: uppercase
      }
      h2 {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-top: 15px;
      }
    }
  }
  .container {
    &_ui {
      width: 350px;
      height: 486px;
      box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.16);
      &__heading {
        width: 100%;
         background: #f6f6f6;
        color: #767676;
        h1 {
          text-transform: uppercase;
          margin: 0;
          font-size: 12px;
          float: left;
          line-height: 64px;
        }
        .menu_icon {
          text-align: right;
          position: absolute;
          top: 4px;
          right: 20px;
          cursor: pointer;
        }
      }
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]:checked + label > .container_ui__expand {
        transition-property: left, opacity;
        transition-duration: .4s;
        left: 380px;
        z-index: -1;
        opacity: 1;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        pointer-events: none;
      }
      .container_ui__expand label {
        width: 10px;
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 12px;
        font-weight: 700;
        color: rgb(166, 166, 166);
        &:hover {
          color: #444444
        }
      }
      input[type="checkbox"]:checked + label > .container_ui__expand label {
        pointer-events: auto;
      }
      input[type="checkbox"]:checked + label > .container_ui__expand .body .user .face img {
        animation: pop .5s .5s forwards;
      }
      input[type="checkbox"]:checked + label > .container_ui__expand .body .user .details {
        animation: popup .5s .5s forwards;
      }
      input[type="checkbox"]:checked + label > .container_ui__expand .body .content {
        animation: popup .5s .7s forwards;
      }
      input[type="checkbox"]:not(:checked) + label > .container_ui__expand .body .user .face img {
        animation: poprev .5s .5s forwards;
        transform: scale(0);
        transition-property: transform;
      }
      input[type="checkbox"]:not(:checked) + label > .container_ui__expand .body .content {}
      transition-property:opacity,
      top;
      transition-duration:0.4s;
      animation:pop .5s forwards;
      input[type="checkbox"]:checked + label > .container_ui__item .face .color_bar {
        right: auto;
        width: 350px;
        height: 71px;
        p {
          opacity: 1;
          transition-duration: .3s;
          transition-delay: 0.4s;
          transition-property: opacity
        }
        span {
          display: none;
        }
      }
      label {
        cursor: pointer;
        display: block;
        max-height: 71px;
        float: left;
        width: 100%;
        overflow: hidden;
        &:hover > .container_ui__item {
          background-color: #EAEAEA !important
        }
      }
      label .container_ui__item {
        pointer-events: none;
      }
      &__item {
        width: 100%;
        float: left;
        height: 74px;
        text-align: left;
        color: black;
        box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
        color: white;
        background: #F5F5F5;
        cursor: pointer;
        h2, h3, h4 {
          color: black;
        }
        h2 {
          font-size: 11px;
          display: inline-block;
          color: #515151;
          text-transform: uppercase;
          font-weight: 800;
          margin: 10px 0px 0px 0px;
          padding-top: 0px;
        }
        h3 {
          font-size: 8px;
          font-weight: 800;
          margin: 5px 0px 10px 0px;
          text-transform: uppercase;
          color: #B2B2B2;
        }
        h4 {
          font-size: 10px;
          font-weight: 600;
          margin: 0;
          color: #919191;
        }
        .face {
          float: left;
          clear: left;
          margin: 0;
          margin-right: 10px;
          position: relative;
          img {
            height: 81px;
            /* margin: 10px; */
            /* border-radius: 5px; */
          }
          .color_bar {
            float: right;
            width: 0px;
            background: rgb(86, 182, 153);
            position: absolute;
            right: 0;
            text-align: center;
            height: 71px;
            top: 0;
            z-index: 1;
            p {
              opacity: 0;
              margin-top: 26px;
            }
            span {
              opacity: 0;
              font-size: 12px;
              position: relative;
              top: -56px;
            }
          }
        }
      }
      &__expand {
        width: 350px;
        box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.16);
        height: 486px;
        position: absolute;
        top: 0;
        transition-delay: .2s;
        transition-property: left, opacity;
        opacity: 0;
        transition-duration: .4s;
        left: 0;
        z-index: -1;
        background: white;
        .body {
          .content {
            text-align: left;
            position: relative;
            top: 10px;
            opacity: 0;
            p {
              b {
                color: #444444;
              }
              text-align: justify;
              font-size:10px;
              line-height:20px;
              padding:25px;
              color:rgb(155, 155, 155);
              font-weight:500;
            }
            span {
              display: block;
              padding: 0px 25px;
              font-weight: 800;
              position: relative;
              top: -10px;
              font-size: 10px;
              color: rgb(125, 125, 125);
              ;
            }
            textarea {
              margin: 0px 25px;
              width: 295px;
              resize: none;
              border: 1px solid rgb(224, 224, 224);
              height: 60px;
              border-radius: 3px;
            }
          }
          .user {
            border-bottom: 1px solid rgb(236, 236, 236);
            height: 65px;
            .details {
              opacity: 0;
              top: 10px;
              position: relative;
              float: left;
              width: 240px;
              text-align: left;
              h2 {
                font-size: 14px;
                display: inline-block;
                color: #515151;
                text-transform: uppercase;
                font-weight: 800;
                margin: 13px 0px 0px 0px;
                padding-top: 0px;
              }
              h3 {
                font-size: 12px;
                font-weight: 300;
                margin: 5px 0px 10px 0px;
                text-transform: uppercase;
                color: #B2B2B2;
              }
              h4 {
                font-size: 10px;
                font-weight: 600;
                margin: 0;
                color: #919191;
              }
            }
            .face {
              float: left;
              img {
                width: 40px;
                transform: scale(0);
                border-radius: 100%;
                border: 2px solid rgb(255, 255, 255);
                margin: 10px 25px;
              }
            }
          }
        }
        .heading {
          height: 10px;
          width: 100%;
          background: #56b699;
          &_head {
            h1 {
              color: #aeb1d8;
              text-transform: uppercase;
              font-weight: 700;
              height: 10px;
              margin: 0;
              font-size: 12px;
              float: left;
              width: 100%;
              letter-spacing: 1px;
              line-height: 64px;
            }
          }
        }
      }
    }
  }


body .container_ui input[type="checkbox"]:checked + label > .container_ui__expand a {
  pointer-events: auto;
}
/* Let's do some animations! */

@keyframes pop {
  0% {
    transform: scale(0)
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes poprev {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(0)
  }
}

@keyframes popup {
  from {
    top: 10px;
    opacity: 0
  }
  to {
    top: 0px;
    opacity: 1
  }
}
