<md-toolbar layout margin>
  <div class="container_ui__heading md-toolbar-tools">
    <div layout="row" flex="" class="fill-height">
      <div class="md-toolbar-item">
        <span> <i class="md md-menu md-2x menu_icon" ng-click="vmVideo.close()" hide-gt-md></i></span>
      </div>
      <div class="md-toolbar-item  menu">
        <md-select style="color:black;" placeholder="Filter By" ng-model="video.id">
          <md-option value="0">All</md-option>
          <md-option ng-repeat="video in vmVideo.videos" value="{{video.id}}">{{video.title}}</md-option>
        </md-select>
      </div>
      <div class="md-toolbar-item">
        <md-select placeholder="Order By" ng-model="someVal">
          <md-option value="1">One</md-option>
          <md-option value="2">Two</md-option>
        </md-select>
      </div>
    </div>
  </div>
</md-toolbar>
<div layout="column">
  <section layout="row" flex>
    <md-content flex class="ui-view-container">
      <div layout="column" layout-fill layout-align="top center">
        <div class="title">
          <div class="title_inner">
            <h1>
               Start to Learn
          </h1>
            <h2>
            You can select any video from the list!
           </h2>
          </div>
        </div>
        <!--  -->
        <div class="container" ng-if="vmVideo.displayVideo">
          <div class="container_ui">
            <div class="container_ui__expand">
              <div class="heading">
              </div>
              <div class="content">
                <div class="video-container">
                  <iframe id="player1" ng-src="{{vmVideo.currentVideoUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div>
          <md-button ng-click="vmVideo.toggleLeft()" class="md-primary float-right" hide-gt-md>
            Toggle Video List
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>
    <md-sidenav id="video-toolbar" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
      <md-content id="video-content">
        <div ng-repeat="video in vmVideo.videos">
          <md-subheader class="md-primary video-subheader" ng-bind="video.title"></md-subheader>
          <md-list>
            <md-list-item class="md-2-line md-no-proxy" ng-repeat="videoItem in video.videos">
              <div class="md-list-item-text">
                <h3>
                    <!-- <md-button class="md-fab md-accent play-button" aria-label="Play"> -->
                    <md-icon class="md md-play-circle-outline md-2x play-button-icon" ng-click="vmVideo.activeVideo(videoItem)"></md-icon>
                  <!-- </md-button> -->
                  <span class="sub-title-video" ng-bind="videoItem.title"></span>
                  </h3>
                <p>{{videoItem.description}}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </md-sidenav>
  </section>
</div>
