<md-toolbar margin id="video-library" class="container_ui__heading">
  <div class="md-toolbar-tools">
    <div layout="row" flex="" class="fill-height float-right">
    <span flex=""></span>
      <div class="md-toolbar-item  menu">
        <md-select style="color:black;" placeholder="Filter By" ng-model="vmVideo.category" md-on-open="vmVideo.opensideNav()">
          <md-option value="">All</md-option>
          <md-option ng-repeat="video in vmVideo.videos" value="{{video.id}}">{{video.title}}</md-option>
        </md-select>
      </div>
      <div class="md-toolbar-item menu">
        <md-input-container md-no-float>
          <input ng-model="vmVideo.searchText" type="text" placeholder="Search by Title" ng-focus="vmVideo.opensideNav()" ng-blur="vmVideo.closesideNav()">
        </md-input-container>
      </div>
      <div class="md-toolbar-item">
        <md-button class="md-fab md-mini md-primary" aria-label="Open" ng-click="vmVideo.checkNavStatus()" hide-gt-md>
          <md-icon class="md md-menu md-2x menu_icon"></md-icon>
        </md-button>
      </div>
    </div>
  </div>
</md-toolbar>
  <section layout="row" flex id="video-section">
    <md-content flex class="ui-view-container">
      <div layout="column" layout-fill layout-align="top center">
        <div class="title">
          <div class="title_inner" ng-if="!vmVideo.displayVideo">
            <h1>
               Start to Learn
          </h1>
            <h2>
            You can select any video from the list!
           </h2>
          </div>
        </div>
        <!--  -->
        <div class="container" ng-if="vmVideo.displayVideo">
          <div class="container_ui">
            <div class="container_ui__expand">
              <div class="heading">
              </div>
              <div class="content">
                <div class="video-container">
                  <iframe id="player1" ng-src="{{vmVideo.currentVideoUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
      <div flex></div>
    </md-content>
    <md-sidenav id="video-toolbar" class="md-sidenav-right md-whiteframe-z2" md-component-id="video-right" md-is-locked-open="$mdMedia('gt-md')">
      <md-content id="video-content">
        <div ng-repeat="video in filtered = (vmVideo.videos | categoryFilter:vmVideo.category) | filter:vmVideo.searchText">
          <md-subheader class="md-primary video-subheader" value="{{video.id}}" ng-bind="video.title"></md-subheader>
          <md-list>
            <md-list-item class="md-2-line md-no-proxy animate-repeat" ng-repeat="videoItem in video.videos | filter: vmVideo.searchText | orderBy: 'title'" ng-click="vmVideo.activeVideo(videoItem)">
              <div class="md-list-item-text">
                <md-icon class="md md-play-circle-outline md-2x md-play"></md-icon>
                <h3>
                  <span class="sub-title-video" ng-bind="videoItem.title"></span>
                  </h3>
                <p>{{videoItem.description}}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </md-sidenav>
  </section>
