<div id="oneChoice">
    <div class="list-group text-left">

        <a id="answer" ng-repeat="item in items" href="javascript:void(0)" class="choice list-group-item" ng-click="selectAnswer($index)">
            <strong><span class="float-right {{item.position}}"></span></strong>
            <div class="middle">
		            <span ng-if="showExplanation" class="float-right">&#10094;</span>
                <button id="{{item.id}}" type="button" class=" btn-option  btn-rounded letter" >{{item.option}}</button>
                <input id="{{item.id}}" type="checkbox" name="choice"  value="false"  />
                <div class="content" >
                    <div ng-bind-html="item.body"></div>
                </div>
            </div>
            <div id="explanationAnswerPanel"  ng-if="showExplanation" class="fadein " ng-class="{'answer-correct-panel': item.correct, 'answer-incorrect-panel': !item.correct}">
		            <div ng-show="hasExplanation({index : $index})">
                <div class="explain-margin" ng-bind-html='item.explanation'></div>
				            <br>
		            </div>
		            <div class="answer-percent"><strong> {{item.percent_answered}}%</strong> of users answered this choice</div>
            </div>
        </a>

    </div>

</div>