<div class="panel" >
  <div class="panel-heading">
    <span class="panel-title">Review the Skills in this Question</span>
  </div>
  <div class="panel-body">
    &nbsp;Skills used in this question:
    <div ng-repeat="tag in tags" style="text-align: left;">
      <div ng-repeat="tr in tag.tagResource" style="display:inline;">

        <button ng-if="tr.resourceType == 'youtube'" style="margin-left: 4px" class="btn btn-flat btn-xs btn-labeled btn-default" youtube rel="{{tr.videoId}}">
          <span><span class="btn-label icon fa  fa-play-circle-o"></span>{{tag.name}} Refresher {{$index+1}} ({{tr.videoTime}})</span>

        </button>
        <a ng-if="tr.resourceType == 'blog'" ng-href="{{tr.videoId}}" target="_blank">
          <button style="margin-left: 4px" class="btn btn-flat btn-xs btn-labeled btn-default">
            <span><span class="btn-label icon fa  fa-quote-left"></span> {{tag.name}} Refresher {{$index+1}}</span>
          </button>
        </a>
      </div>


    </div>
    <br>&nbsp;Difficulty:
    <label style="margin-left: 4px" class="label label-default" ng-bind="xp"></label>
    <br>

  </div>
</div>
