		<div class="row " style="text-align: left; display: inline">
						<span ng-repeat="tr in tags" >
										<button ng-if="tr.resource_type == 'youtube'" style="margin-left: 4px;margin-bottom: 2px" class="btn btn-flat btn-xs btn-labeled btn-primary" youtube="" rel="{{tr.resource}}">
							<span><span class="btn-label icon fa  fa-play-circle-o"></span>{{tr.name}} Refresher {{$index+1}} </span>
												<!--({{tr.videoTime}})-->
					</button>
									<a ng-if="tr.resource_type == 'blog'" ng-href="{{tr.resource}}" target="_blank">
											<button style="margin-left: 4px;margin-bottom: 2px"class="btn btn-flat btn-xs btn-labeled btn-primary">
													<span><span class="btn-label icon fa  fa-quote-left"></span> {{tr.name}} Refresher {{$index+1}}</span>
											</button>
									</a>

						</span>
		</div>

