<div class="history-container">
  <h1 class="history-title">Question History</h1>
  <br>
  <div id="fixed" when-scrolled="vmHist.getQuestions()" set-height>
    <div ng-repeat="questionPerDay in vmHist.questionsPerDay" history-list identifier="{{questionPerDay.day}}" round-sessions="questionPerDay.roundSessions" group-id="vmHist.groupId" on-collapse="vmHist.onCollapse()" is-loading="vmHist.isLastEntryLoading(questionPerDay.day)"></div>
  </div>
  <div layout="row" layout-align="center center" ng-if="vmHist.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
