<div id="practice" class="panel">
    <div class="panel-heading">
        <span class="panel-title"></span>
        <span ng-bind="TitleQuest"></span>
        <!--<div class="text-right">-->
            <!--<button id="nextAction" class="btn  btn-lg  btn-flat" ng-click="nextAction()" ng-bind="nextActionTitle"></button>-->
            <!--<a id="skipAction" ng-click="revealExplanation()">Don't know? See answer.</a>-->
        <!--</div>-->
    </div>
    <div class="panel-body">
        <div id="parent" class="my-slide-container">
            <div id="PanelQuestion" class=" row">

                <div id="Panel1" class="col-md-6">
                    <div class="panel" ng-if="showExplanation" >
                        <div class="panel-heading">
                            <span class="panel-title">Question Data</span>
                        </div>
                        <div class="panel-body">
                            &nbsp;Difficulty <label style="margin-left: 4px" class="label label-info" ng-bind="xpTag"></label><br>
                            <label ng-repeat="tag in tags" style="margin-left: 4px" class="label label-info" ng-bind="tag.name"></label>

                        </div>
                    </div>

                    <!--<div ng-if="showExplanation"  class="question-explain">-->
                    <!--</div>-->
                    <div id="question-explain" class="question-explain explain-margin" ng-if="showExplanation" ng-bind-html='questionExplanation'></div>

                    <div id="videoExplain" ng-if="showVideo"><br>
                        <div class="video-container">
                            <iframe id="ytplayer" type="text/html" width="640" height="360"  ng-src="{{videoId}}"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div ng-bind-html='questionInformation'></div>

                </div>
                <div id="Panel2" class="col-md-6">
                    <div ng-bind-html='stimulus'></div>

                    <!--answer-->
                    <div ng-answers></div>
                    <!--<div ng-include="'app/practiceGame/practice/directives.tpl/answers.tpl.html'" class="my-fade-animation"></div>-->

                    <h2><span ng-bind="messageConfirmation"> </span></h2>

                    <div class="text-right">
                        <button id="nextAction" class="btn  btn-lg  btn-flat" ng-click="nextAction()" ng-bind="nextActionTitle"></button>
                        <a id="skipAction" ng-click="revealExplanation()">Don't know? See answer.</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="panel-footer">
        <!--<div  ng-sat items="rows" cols="column" ></div>-->
    </div>
</div>
<span ng-init="CreatePracticeGame()"></span>
