<div breadcrumb breadcrumbs="breadcrumbs.get()"></div>

<div id="practice" class="panel">


  <div class="panel-heading">
    <span class="panel-title"> <label title="" class="title" ng-bind="titleQuest"></label></span>

    <div class="answer-status float-right" ng-if="showExplanation">
      <span class="badge" ng-class="{'badge-success': answerStatus, 'badge-danger': !answerStatus}" ng-bind="messageConfirmation"></span>
    </div>
  </div>
  <div class="panel-body">
    <div id="parent" class="col-md-12">

      <div fading-text word="'Loading...'" is-visible="loading"></div>

      <div id="PanelQuestion" class="row columnsContainer" ng-show="!loading">
        <div id="Panel1" class="col-md-6 leftColumn">

          <div ng-if="showExplanation">
            <div question-tags xp="xpTag" tags="tags"></div>

          </div>

          <div ng-if="showExplanation">
            <div question-timing></div>

          </div>

          <div id="question-explain" class="question-explain explain-margin" ng-if="showExplanation">

            <span ng-bind-html='questionExplanation'></span>

            <div id="videoExplain" ng-if="showVideo">
              <br>
              <div class="video-container">
                <button youtube rel="{{videoId}}" class="btn btn-flat btn-labeled btn-primary" id="videoExplainbtn">
                  <span class="btn-label text-lg icon fa fa-youtube-play"></span><span ng-bind="videoText"></span>
                </button>

              </div>
            </div>
          </div>
          <div class="sentence_correction_stimulus" ng-bind-html='questionInformation'>
          </div>
        </div>

        <div id="Panel2" class="page page-home col-md-6 rightColumn">
          <div id="answercontent" class="info-box">
            <div id="solutionarea">
              <span ng-bind="questByQSetTitle"></span>
              <div ng-bind-html='stimulus'></div>
              <br>

              <!--answer-->
              <div answer-type content="{{lastAnswerLoaded}}"></div>
              <!--<div id="answersPanels" ng-answers></div>-->
            </div>

          </div>


        </div>
      </div>

    </div>

  </div>
  <div class="panel-footer">

  </div>

</div>
<div class="push">
  <!--//-->
</div>
<footer class="" role="navigation">
  <div id="topics" class="footer">
    <div class="row">
      <div>
        <div class="col-md-6 f-content float-right">
          <div class="text-right">
            <a id="skipAction" ng-click="revealExplanation()">Don't know? See answer.</a>&nbsp;
            <button id="nextAction" class="btn  btn-lg  btn-flat" ng-click="nextAction()" ng-bind="nextActionTitle"></button>
          </div>

        </div>
        <div class="col-md-6 f-content feedback-box">
          <div class="text-left">
            Problem with this question?
            <a href="mailto:feedback@grockit.com?subject={{subjectMail}}" title="">&nbsp; <i class="profile-list-icon fa fa-envelope" style="color: #888"></i>&nbsp; feedback@grockit.com
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--
<div ng-custom-topics></div>
-->

