
<div id="matrix2x3">
    <div  class="choice" ng-repeat="item in items">
        <div class="divisor" ng-if="($index % 2) ==0">
            <h4>Fill in the Blank ({{($index / 2)+1}})</h4>
            <hr>
        </div>
        <div class="checklist_{{$index}}" ng-if="($index % 2) ==0">
        <div class="middle">
            <button id="{{item.position}}" type="button" class="letter btn-option  btn-rounded letter" >{{item.option}}</button>
            <input type="radio" name="styled-r1" class="px">
            <!--<input id="{{item.position}}" type="checkbox" name="choice" value="false"   />-->
            <div class="content" >
                <div ng-bind-html="item.body"></div>
            </div>
        </div>
       </div>
        <div id="explanationAnswerPanel" ng-if="showExplanation" class="fadein " ng-class="{'answer-correct-panel': item.correct, 'answer-incorrect-panel': !item.correct}">
            <div class="explain-margin" ng-bind-html='item.explanation'></div>
        </div>
        <hr>
    </div>


</div>
