<div id="dashboard-practice">


<div class="page-header">
    <h1><i class="fa fa-bar-chart-o page-header-icon"></i>&nbsp;&nbsp;Detail Dashboard</h1>
</div>
<div class="stat-panel">
    <div class="stat-row">

        <div class="stat-cell col-sm-14  padding-sm-hr bordered no-border-r valign-middle">
            <div class="stat-panel bg-primary text-center">
                <div class="stat-row">
                    <div id="detail-graph" style="height: 185px;"></div>
                </div>
            </div>
        </div>

        <div class="stat-cell col-sm-3 padding-sm-hr bordered no-border-r valign-top">
            <div class=" score-prediction-graph stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray no-padding ">
                        <i class="fa fa-flash"></i>&nbsp;&nbsp;Score Prediction
                    </div>
                </div>
                <!-- /.stat-row -->
                <div class="stat-row">
                    <!-- Bordered, without top border, without horizontal padding -->
                    <div class="stat-cell bordered no-border-t no-padding-hr">
                        <div class="pie-chart " data-percent="65" id="scoreP">
                            <div class="pie-chart-label xlText">
                                650
                                 <span class="text-sm chart-range-text">
                                       600-700
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.stat-row -->
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel topic-content panel-dark widget-profile">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>
                Select Topics</span>
            </div>

            <div class="widget-profile-counters">

                <div class=" item-tag">
                    <div class="col-md-2 bar-col">
                        <div class="  text-center">
                            <div class="progress progress-striped active">
                                <div data-toggle='tooltip' data-placement='bottom' data-original-title='Accuracy(Percent Correct) 10%'
                                     class="progress-bar progress-bar-success" style="width: 90%;"></div>
                            </div>
                            30% completed
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="  text-center">
                            <h4><b><span class="badge badge-success">79</span></b>/80</h4>
                            <h4>Questions</h4>
                        </div>
                    </div>
                    <div class="col-md-3  tag-col">
                        <div class="  text-center">
                            <h2>Number of Properties</h2>Algebra,Exponents,etc.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="  text-center">
                            <button class="btn btn-lg btn-outline btn-labeled btn-flat btn-primary video-btn">
                                <span class="btn-label icon fa fa-play-circle"></span>
                                Video
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="  text-center">
                            <div class="btn-group btn-group-lg">
                                <button class="btn btn-lg btn-labeled btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" >

                                    <span class="btn-label icon fa fa-plus"></span>Add to Practice &nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="45" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Easy</a>
                                    </li>
                                    <li><a id="46" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Medium</a>
                                    </li>
                                    <li><a id="47" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Hard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel topic-content panel-dark widget-profile">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>
                Select Topics</span>
            </div>

            <div class="widget-profile-counters">

                <!--<div class=" item-tag">-->
                    <!--<div class="col-md-2 bar-col">-->
                        <!--<div class="text-center">-->
                            <!--<div class="progress progress-striped active">-->
                                <!--<div data-toggle='tooltip' data-placement='bottom' data-original-title='{{Accuracy}}' class="progress-bar progress-bar-danger" style="width: 30%;"></div>-->
                            <!--</div>-->
                            <!--<span ng-bind="percentCompleted"></span>-->
                            <!--30% completed-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<div class="  text-center">-->
                            <!--<h4><b><span class="badge badge-danger" ng-bind="readyQuestions"></span></b>/<span ng-bind="pendingQuestions"></span></h4>-->
                            <!--<h4>Questions</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3  tag-col">-->
                        <!--<div class="  text-center">-->
                            <!--<h2><span ng-bind="clusterName"></span></h2><span ng-bind="tagsRelated"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<div class="  text-center">-->
                            <!--<button class="btn btn-lg btn-outline btn-labeled btn-flat btn-primary video-btn">-->
                                <!--<span class="btn-label icon fa fa-play-circle"></span>-->
                                <!--Video-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 ">-->
                        <!--<div class="  text-center">-->
                            <!--<div class="btn-group btn-group-lg">-->
                                <!--<button class="btn btn-lg btn-labeled btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" >-->

                                    <!--<span class="btn-label icon fa fa-plus"></span>Add to Practice &nbsp;&nbsp;<i class="fa fa-caret-down"></i>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a id="45" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Easy</a>-->
                                    <!--</li>-->
                                    <!--<li><a id="46" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Medium</a>-->
                                    <!--</li>-->
                                    <!--<li><a id="47" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Hard</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class=" item-tag" >
                    <div class="col-md-2 bar-col">
                        <div class="  text-center">
                            <div class="progress progress-striped active">
                                <div data-toggle='tooltip' data-placement='bottom'
                                     data-original-title='Accuracy(Percent Correct) 10%' class="progress-bar progress-bar-warning" style="width: 60%;"></div>
                            </div>
                            30% completed
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center">
                            <h4><b>
                              <span class="badge badge-info">78</span>
                            </b>/80</h4>
                            <h4>Questions</h4>
                        </div>
                    </div>
                    <div class="col-md-3  tag-col">
                        <div class="  text-center">
                            <h2>Number of Properties</h2>Algebra,Exponents,etc.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="  text-center">
                            <button class="btn btn-lg btn-outline btn-labeled btn-flat btn-primary video-btn">
                                <span class="btn-label icon fa fa-play-circle"></span>
                                Video
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="  text-center">
                            <div class="btn-group btn-group-lg">
                                <button class="btn btn-lg btn-labeled btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" >

                                    <span class="btn-label icon fa fa-plus"></span>Add to Practice &nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="45" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Easy</a>
                                    </li>
                                    <li><a id="46" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Medium</a>
                                    </li>
                                    <li><a id="47" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Hard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" item-tag">
                    <div class="col-md-2 bar-col">
                        <div class="  text-center">
                            <div class="progress progress-striped active">
                                <div data-toggle='tooltip' data-placement='bottom' data-original-title='Accuracy(Percent Correct) 10%'
                                     class="progress-bar progress-bar-success" style="width: 90%;"></div>
                            </div>
                            30% completed
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="  text-center">
                            <h4><b><span class="badge badge-success">79</span></b>/80</h4>
                            <h4>Questions</h4>
                        </div>
                    </div>
                    <div class="col-md-3  tag-col">
                        <div class="  text-center">
                            <h2>Number of Properties</h2>Algebra,Exponents,etc.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="  text-center">
                            <button class="btn btn-lg btn-outline btn-labeled btn-flat btn-primary video-btn">
                                <span class="btn-label icon fa fa-play-circle"></span>
                                Video
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="  text-center">
                            <div class="btn-group btn-group-lg">
                                <button class="btn btn-lg btn-labeled btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" >

                                    <span class="btn-label icon fa fa-plus"></span>Add to Practice &nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="45" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Easy</a>
                                    </li>
                                    <li><a id="46" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Medium</a>
                                    </li>
                                    <li><a id="47" data-tag="Number of Properties" ng-click="selectLevelCluster($event)">Hard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
</div>

</div>
</div>

</div>