<div id="matrix2x3">
  <div class="list-group text-left" layout="row" layout-sm="column" layout-padding layout-fill>
    <div ng-repeat="main in items" class="choice" flex>
      <div class="divisor">
        <br>
        <div>Blank {{$index +1}}</div>
      </div>
      <md-radio-group ng-model="item.matrix_group">
        <a id="answer" ng-repeat="item in main" href="javascript:void(0)" class=" list-group-item" ng-class="{'disable-choice': item.crossOut && !(showExplanation)}" ng-click="selectAnswer($index,(($index-($index%3))/3 ),main)">
          <md-radio-button ng-value="item.id" aria-label="false" class="md-primary">
            <div ng-bind-html="item.body"></div>
          </md-radio-button>
          <span ng-if="showExplanation && item.selected==true" class="float-right arrow-selected">&#10094;</span>
          <span ng-if="!(showExplanation) && showforCurrentGroup" class="pull-right cross-out fa fa-times" ng-click="crossOutChoice($index,$event,main)" data-original-title="{{item.crossOutMsg}}">
          <md-tooltip md-direction="left">
            {{item.crossOutMsg}}
          </md-tooltip>
          </span>
          <div ng-show="item.hasExplanation" id="explanationAnswerPanel" ng-if="showExplanation" class="fadein " ng-class="{'answer-correct-panel': item.correct, 'answer-incorrect-panel': !item.correct}">
            <div class="explain-margin" ng-bind-html='item.explanation'></div>
            <br>
          </div>
        </a>
      </md-radio-group>
    </div>
  </div>
</div>
