<div id="sat" class="choice">
  <table id="spr_input">
    <thead>
      <tr>
        <th colspan="4">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr id="input">
        <td id="input1"></td>
        <td id="input2">&nbsp;</td>
        <td id="input3">&nbsp;</td>
        <td id="input4">&nbsp;</td>
      </tr>
      <tr id="slash">
        <td class="empty"><span class="wrapper">&nbsp;</span></td>
        <td data-group="2" class="empty">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrixTop">/</button>
        </td>
        <td data-group="3" class="empty">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrixTop">/</button>
        </td>
        <td class="empty"><span class="wrapper">&nbsp;</span></td>
      </tr>
      <tr id="dot">
        <td class=" empty" data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrixTop empty">.</button>
        </td>
        <td class=" empty" data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrixTop empty">.</button>
        </td>
        <td class=" empty" data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrixTop empty">.</button>
        </td>
        <td class=" empty" data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrixTop empty">.</button>
        </td>
      </tr>
      <tr id="0">
        <td class="empty"><span class="wrapper">&nbsp;</span></td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">0</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">0</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">0</button>
        </td>
      </tr>
      <tr ng-repeat="item in items">
      </tr>
      <tr id="1">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">1</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">1</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">1</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">1</button>
        </td>
      </tr>
      <tr id="2">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">2</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">2</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">2</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">2</button>
        </td>
      </tr>
      <tr id="3">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">3</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">3</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">3</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">3</button>
        </td>
      </tr>
      <tr id="4">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">4</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">4</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">4</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">4</button>
        </td>
      </tr>
      <tr id="5">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">5</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">5</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">5</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">5</button>
        </td>
      </tr>
      <tr id="6">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">6</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">6</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">6</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">6</button>
        </td>
      </tr>
      <tr id="7">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
      </tr>
      <tr id="8">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">8</button>
        </td>
      </tr>
      <tr id="9">
        <td data-group="1">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">9</button>
        </td>
        <td data-group="2">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">9</button>
        </td>
        <td data-group="3">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">9</button>
        </td>
        <td data-group="4">
          <button type="button" class="column-matrix btn  btn-outline btn-rounded matrix">9</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
