<div id="twoChoice">
  <div class="list-group text-left">
    <a id="answer" ng-repeat="item in items" href="javascript:void(0)" class="choice list-group-item" ng-click="selectAnswer($index)" ng-class="{'disable-choice': item.crossOut && !(showExplanation)}">
      <md-checkbox ng-disabled="item.crossOut" class="md-primary" aria-label="false" ng-model="item.selected">
        <div ng-bind-html="item.body"></div>
      </md-checkbox>
      <span ng-if="showExplanation && item.selected==true" class="float-right arrow-selected">&#10094;</span>
      <span ng-if="!(showExplanation) && showforCurrentGroup" class="pull-right cross-out fa fa-times" data-original-title="{{item.crossOutMsg}}" ng-click="crossOutChoice($index,$event)">
           <md-tooltip md-direction="left">
            {{item.crossOutMsg}}
          </md-tooltip>
        </span>
      <div ng-show="item.hasExplanation" id="explanationAnswerPanel" ng-if="showExplanation" class="fadein " ng-class="{'answer-correct-panel': item.correct, 'answer-incorrect-panel': !item.correct}">
        <div>
          <div class="explain-margin" ng-bind-html='item.explanation'></div>
          <br>
        </div>
      </div>
    </a>
  </div>
</div>
