<div class="fractionEntry"  >
    <input id="numerator " ng-model="portal.numerator" type="number" class="form-control" >
    <input id="denominator" ng-model="portal.denominator"  type="number" class="form-control" >
    <div ng-repeat="item in items">

    <div id="explanationAnswerPanel" ng-show="hasExplanation({index : $index})" ng-if="showExplanation"  class="fadein " ng-class="{'answer-correct-panel': answerStatus, 'answer-incorrect-numEntry': !answerStatus}">
        <div class="explain-margin" ng-bind-html='item.explanation'></div>
    </div>
    </div>
</div>