<div class="fractionEntry"  >
    <input id="numerator " ng-model="portal.numerator" type="number" class="form-control" ng-class="{true:'correct-numeric-input', false:'bad-numeric-input', null:''}[answerStatus]">
    <input id="denominator" ng-model="portal.denominator"  type="number" class="form-control" ng-class="{true:'correct-numeric-input', false:'bad-numeric-input', null:''}[answerStatus]">
    <div ng-repeat="item in items">
<br><br>
    <div id="explanationAnswerPanel" ng-show="hasExplanation({index : $index})" ng-if="showExplanation"  class="fadein " ng-class="{'answer-correct-panel': answerStatus, 'answer-incorrect-numEntry': !answerStatus}">
        <div class="explain-margin" ng-bind-html='item.explanation'></div>
    </div>

        <div ng-if="showExplanation"  class="fadein answer-correct-panel">
            <div class="explain-margin" ng-bind-html='item.body'></div>
        </div>
    </div>
</div>