<div id="numericEntryQuest">
<input id="numericEntry" type="number" ng-model="portal.numerator" class="form-control" id="inputDefault-4">
<br><br>
    <div ng-repeat="item in items">
        <div id="explanationAnswerPanel" ng-show="hasExplanation({index : $index})" ng-if="showExplanation"  class="fadein " ng-class="{'answer-correct-panel': answerStatus, 'answer-incorrect-numEntry': !answerStatus}">
            <div class="explain-margin" ng-bind-html='item.explanation'></div>
        </div>
    </div>

</div>