<div class="row" >
  <div class="col-sm-3">
    <p class="">Review the Skills in this Question:</p>
    Difficulty:
    <label style="margin-left: 4px" class="label label-default" ng-bind="xp"></label>
  </div>
  <div class="col-sm-3" ng-repeat="tag in tags" style="text-align: left;">
    <div ng-repeat="tr in tag.tagResource" >

      <button ng-if="tr.resourceType == 'youtube'" style="margin-left: 4px" class="btn btn-flat btn-xs btn-labeled btn-default" youtube rel="{{tr.videoId}}">
        <span><span class="btn-label icon fa  fa-play-circle-o"></span>{{tag.name}} Refresher {{$index+1}} ({{tr.videoTime}})</span>

      </button>
      <a ng-if="tr.resourceType == 'blog'" ng-href="{{tr.videoId}}" target="_blank">
        <button style="margin-left: 4px" class="btn btn-flat btn-xs btn-labeled btn-default">
          <span><span class="btn-label icon fa  fa-quote-left"></span> {{tag.name}} Refresher {{$index+1}}</span>
        </button>
      </a>
    </div>
  </div>
</div>
