<!-- Difficulty: <label style="margin-left: 4px" class="label label-default" ng-bind="xp" data-toggle="tooltip" data-placement="bottom" title="Grockit questions are categorized in 5 levels: 2, 4, 8, 16 and 32. These levels are calibrated automatically based on previous answers by users like you."></label> -->

<!--<div class="row" >
  <div class="col-sm-2">
    <p class="">Review the Skills in this Question:</p>
  </div>
  <div class="practice-tag" ng-repeat="tag in tags" style="text-align: left;">
    <div ng-repeat="tr in tag.tagResource" >

      <button ng-if="tr.resourceType == 'youtube'" style="margin-left: 4px" class="btn btn-flat btn-xs btn-labeled btn-default" youtube rel="{{tr.videoId}}">
        <span><span class="btn-label icon fa  fa-play-circle-o"></span>{{tag.name}} Refresher {{$index+1}} ({{tr.videoTime}})</span>

      </button>
      <a ng-if="tr.resourceType == 'blog'" ng-href="{{tr.videoId}}" target="_blank">
        <button style="margin-left: 4px" class="btn btn-flat btn-xs btn-labeled btn-default">
          <span><span class="btn-label icon fa  fa-quote-left"></span> {{tag.name}} Refresher {{$index+1}}</span>
        </button>
      </a>
    </div>
  </div>
</div>-->


