<a ng-if="isReady && canAccess" ng-href="{{url}}" >
  <i class="menu-icon fa {{iconClass}} text-xlg text-center" data-toggle="tooltip" data-placement="right" title="{{text}}"></i><!-- <span class="mm-text">{{text}}</span> -->
</a>
<a ng-if="isReady && !canAccess" class="disabled" >
  <i class="menu-icon fa {{iconClass}} text-xlg text-center"></i><!-- <span class="mm-text">{{text}}</span> -->
  <i class="pull-right menu-icon fa fa-lock"></i>
</a>
<a ng-if="!isReady">
  <i class="menu-icon fa {{iconClass}} text-xlg text-center"></i><!-- <span class="mm-text">{{text}}</span> -->
</a>



