<a ng-if="isReady && canAccess && !isExternalLink" ng-href="#/{{groupId}}/{{url}}">
  <i class="menu-icon fa {{iconClass}}"></i><span class="mm-text">{{text}}</span>
</a>
<a ng-if="isReady && canAccess && isExternalLink" ng-href="{{externalBaseUrl}}/{{url}}">
  <i class="menu-icon fa {{iconClass}}"></i><span class="mm-text">{{text}}</span>
</a>
<a ng-if="isReady && !canAccess" class="disabled">
  <i class="menu-icon fa {{iconClass}}"></i><span class="mm-text">{{text}}</span>
  <i class="pull-right menu-icon fa fa-lock"></i>
</a>
<a ng-if="!isReady">
  <i class="menu-icon fa {{iconClass}}"></i><span class="mm-text">{{text}}</span>
</a>



