<div class="menu-content top animated fadeIn" id="menu-content-demo">
  <div>
    <div class="text-bg"><span class="text-slim"></span> <span class="text-semibold" ng-bind="data.firstName"></span></div>
    <a ng-href="{{url}}/users/{{data.userId}}/profile_photos">
     <img ng-src="{{data.avatarUrl}}" alt="avatar" class="">
    </a>
    <div class="btn-group">
      <a ng-href="{{url}}/users/{{data.userId}}/account" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-info-circle"></i></a>
      <a ng-href="{{url}}/users/{{data.userId}}" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
      <a ng-href="{{url}}/users/{{data.userId}}/message_center/folders/Inbox" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa fa-envelope"></i></a>
      <a ng-href="{{logOutUrl}}" ng-click="logOut()" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
    </div>
  </div>
</div>
