<div id="practice" class="panel">
    <div class="panel-heading">
        <span class="panel-title"></span>
    </div>
    <div class="panel-body">
        <div id="parent" >
            <div class="slide-animate-container">
                <div class="slide-animate" ng-include="templateUrl()"></div>
            </div>
    </div>
    <div class="panel-footer">
        <div class="align-right">
        <button class="btn btn-lg  btn-flat" ng-click="skipQuestion()">Skip Question</button>
        <button class="btn  btn-lg  btn-primary btn-flat" ng-click="confirmChoice()">Confirm Choice</button>
            </div>
    </div>
</div>
<span ng-init="loadQuestion()"></span>
</div>