#practice{

  .choice{
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .choice input {
    cursor: default;
    display: none;
  }
  .btn-option.btn-rounded {
    border-radius: 9999px;
  }

  .divisor {
    color: #5bc0de;
    font-weight: bold;
  }

  .align-right{
    margin-left:82%;

  }
  #numericEntry{
    max-width: 30%;
  }
  div.content {
    height: 35px;
    margin-left:33px;
  }
  div.middle {
    margin-top: 8px;
    padding-top: 5px;
  }

  button.letter {
    display: block;
    font-size: 14px;
    position: absolute;
    text-align: center;
    border: 2px solid #bbbbbb;
    font-weight: 700;
    height: 30px;
    width: 30px;

  }
  .expandable-section {
    padding:10px 10px;
    background-color:#eee;
    display:none;
  }
  .score-prediction-graph{
    max-width: 400px;
  }


 /* Angular Animate Styles for question*/
  .fadein {
    transition: 2s linear all;
    -webkit-transition: 2s linear all;
    -moz-transition: 2s linear all;
    -o-transition: 2s linear all;
  }
  .fadein.ng-enter {
      transition: 1s linear all;
      -webkit-transition: 1s linear all;
      -moz-transition: 1s linear all;
      -o-transition: 1s linear all;
    }

  .fadein.ng-enter.ng-enter-active {
    opacity: 1;
  }

  #question-explain{
    background: #F2F2F2;
    border-color: #bcbcbc;
    border: 1px solid #E3E3DE;
    border-radius: 5px;
    padding: 10px;

  }

  .explain-margin{
    color: black;
    margin: 2px 4px 2px 15px;
  }
  .answer-correct-panel{
    background: #dff0d8;
    border-color: #d0e6be;
    color: #468847;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
  }
  .answer-incorrect-panel{
    background: #f2dede;
    border-color: #ebccd1;
    color: #b94a48;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;

  }

  /*Sub Views Questions Transition*/

  .view-container {
    height:500px;
    position:relative;
  }

  .view-animation.ng-enter {
    -webkit-animation: enter_animation 1s;
    animation: enter_animation 1s;

    /*
     * ng-animate has a slight starting delay for optimization purposes
     * so if you see a flicker effect then you'll need to put some extra
     * styles to "shim" the animation.
     */
    left:100%;
  }



}