#practice{
  .choice input {
    cursor: default;
    display: none;
  }
  .divisor {
    color: #5bc0de;
    font-weight: bold;
  }
  .active {
    max-height: '5px';
    background-color: #5bc0de;
  }
  #numericEntry{
    max-width: 30%;
  }
  div.content {
    height: 35px;
    margin-left:33px;
  }
  div.middle {
    margin-top: 8px;
    padding-top: 5px;
  }

  div.right {
    float: right;
    padding-right: 4px;
  }
  span.letter {
    background: #fff;
    border-radius: 9999px;
    display: block;
    font-size: 14px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    border: 2px solid #bbbbbb;
    color: #333;
    font-weight: 700;
    height: 30px;
    width: 30px;

  }
  .expandable-section {
    padding:10px 10px;
    background-color:#eee;
    display:none;
  }


}