<style type="text/css" media="screen">
  #kap-toolbar .logo {
    margin-top: 55px;
    margin-left: 10px;
  }

  .footer-kap {
    text-align: center;
    min-height: 190px;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-kap p {
    margin: 0 0 10px;
  }

  #kap-base-panel {
    height: 180px!important;
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #f1f1f1;
  }

  #kap-base-panel .confirm-panel {
    text-align: center;
  }

  .kap-select {
    margin-top: 70px;
    margin-left: 35px;
    display: block;
    padding-bottom: 2px;
    position: relative;
    max-width: 180px;
  }

  .kap-select span{
    color: white;
  }

</style>
<div>
  <md-toolbar id="kap-toolbar" md-theme="kapTheme" class="md-tall md-whiteframe-z1" layout="row">
  <div class="md-toolbar-tools">
    <h3>
      <span><img src="http://goto.grockit.com/kaplan/quizzes/images/logo.png" alt="" class="logo"></span>
    </h3>
    <div class="kap-select">
      <md-select ng-model="vmPr.activeGroupId" ng-change="vmPr.groupChanged()" placeholder="Select a group">
        <md-option ng-value="group.id" ng-repeat="group in vmPr.responseGroups">{{group.name}}</md-option>
      </md-select>
    </div>
      <div class="kap-select">
        <md-select ng-model="vmPr.activeTrackId" ng-disabled="!vmPr.activeGroupId" ng-change="vmPr.trackChanged()" placeholder="Select a track">
          <md-option ng-value="track.id" ng-repeat="track in vmPr.responseTracks">{{track.name}}</md-option>
        </md-select>
      </div>
  </div>
</md-toolbar>
<div flex layout="row" ng-show="vmPr.activeTrackId">
  <md-content flex class="ui-view-container">
  <div id="practice" ng-show="!vmPr.loading" layout="row" layout-sm="column" layout-fill layout-wrap>
    <div id="Panel1" flex layout-fill layout-padding layout-align="start center" ng-if="vmPr.questionData.setLayoutOneColumn">
      <div pr-first-panel>
      </div>
    </div>
    <div id="Panel1" layout-fill layout-padding layout-align="start center" ng-if="!vmPr.questionData.setLayoutOneColumn">
      <div pr-first-panel>
      </div>
    </div>
    <div id="Panel2" flex layout-fill layout-padding layout-align="start center">
      <div pr-sec-panel>
      </div>
    </div>
  </div>
</md-content>
</div>
<div id="kap-base-panel" class="md-whiteframe-z2">
  <div layout="row" layout-padding layout-align="center center" ng-show="vmPr.activeTrackId">
    <div flex ng-if="!vmPr.loading" class="confirm-panel">
      <md-button id="nextAction" class="md-primary md-raised" ng-click="vmPr.nextAction()" ng-bind="vmPr.nextActionTitle" aria-label="{{vmPr.nextActionTitle}}">
    </md-button>
  </div>
</div>
<div class="footer-kap">
  <p>
    MCAT® is a registered trademark of the Association of American Medical Colleges. Test names and other trademarks are the property of the respective trademark holders. None of the trademark holders are affiliated with Kaplan or this website.
  </p>
  Kaplan | 395 Hudson Street, 3rd Floor | New York, NY 10014
  <br> © Kaplan Inc. All Rights Reserved.
  <br>
  <a href="http://www.kaptest.com/assets/content/popup/privacy-policy.html" target="_blank">Terms of Use</a>
</div>
</div>
</div>
