#simpleDash
    .page-header
        .row
          .col-lg-6.no-padding-r
            div(ng-if='vmDash.showTour')
              br
              h4.no-padding New here?
              button.btn.btn-lg.btn-labeled.btn-primary(data-toggle='chardinjs', ng-click='vmDash.startCardinTour()')
                span.btn-label.icon.fa.fa-question-circle
                span Start Tour
        br
      .profile-content
        div(fading-text='', word='vmDash.loadingMessage', is-visible='!vmDash.historyVisible && vmDash.loading')
        .row
          .col-lg-12(ng-if='vmDash.showBuyNow')
            a(ng-href='{{vmDash.paymentPage}}', target='_blank')
              .stat-panel.cursor-a
                // Success background. vertically centered text
                .stat-cell.bg-info.valign-middle
                  // Stat panel bg icon
                  br
                  i.fa.fa-clock-o.bg-icon
                  // Extra large text
                  // Big text
                  span.text-lg
                    span(ng-bind-html='vmDash.upgradePromptMessage')
                  br
                  // Small text
                  span.text-sm
                    br
        .row
          .col-md-12
            .panel
              .list-group.text-left
                div(track-list='', tracks='vmDash.tracks', start-practice='vmDash.StartPractice', is-visible='vmDash.enableScore && !vmDash.loading', can-practice='vmDash.canPractice')
        .row.fadeIn.animated(ng-if='vmDash.isChallengeAvailable')
          .col-md-12
            .panel.topic-content.panel-dark.widget-profile
              .panel-heading.dashboard-title
                span.panel-title
                  h4
                    i.panel-title-icon.fa.fa-fire
                    | Challenge

              .list-group.text-left
                div(challenge-dashboard='', challenges='vmDash.challengesGames')
          .push
      .grockit-welcome(ng-show='vmDash.showingTour', style='color:white;')
        h1
          | Welcome to Grockit
          span(ng-bind='$root.groupTitle')
          | !
      span(ng-init='vmDash.init()')
