<div id="dashboard">
  <div id="payment-panel" ng-if="vmDash.showBuyNow" layout="row" layout-margin layout-fill>
    <div flex class="panel blue-grey bg-400  ">
      <a href="javascript:void(0)" class="close-thik" ng-click="vmDash.hidPayment()"></a>
      <a ng-href="{{vmDash.paymentPage}}" target="_blank">
        <div class="panel-body">
          <br>
          <md-icon class="mdi mdi-2x mdi-schedule bg-icon white-text"></md-icon>
          <h1 class="white-text" ng-bind-html="vmDash.upgradePromptMessage"></h1>
          <br>
          <span class="text-sm"><br></span>
        </div>
      </a>
    </div>
  </div>
  <div track-list tracks="vmDash.tracks " start-practice="vmDash.startPractice " is-visible="vmDash.enableScore && !vmDash.loading " can-practice="vmDash.canPractice" challenges="vmDash.challengesGames"></div>
</div>
<div layout="row" layout-sm="column" layout-align="space-around" ng-if="vmDash.loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
