.learn-button {
  line-height: 36px;
}

.score-text {
  margin-left: 87px !important;
  margin-top: 100px;
  font-weight: bold;
  left: inherit !important;
  box-shadow: none !important;
  right: auto;
  bottom: auto;
  left: 20px;
  text-transform: uppercase;
  position: absolute;
}

#payment-panel {
  .panel {
    max-height: 90px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    .panel-body {
      padding: 10px;
      padding-top: 0px;
    }
  }
  .bg-icon {
    margin-top: -10px;
    font-size: 65px;
    float: right;
    margin-right: 45px;
  }
  [class*='close-'] {
    color: #777;
    font: 22px/100% arial, sans-serif;
    position: absolute;
    color: $white;
    right: 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
  }
  .close-thik:after {
    content: '✖';
    /* UTF-8 symbol */
  }
}

.select-control-custom {
  display: block;
  width: 100%;
  height: 53px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.gt-ie8 input.px+.lbl:after,
.gt-ie8 input.px+.lbl:before {
  margin: 8px 3px -3px -20px!important;
}

.buy-banner-word {
  color: #E7DF90;
}

.pie-chart-label.xlText {
  font-weight: 600;
  font-size: 46px;
  margin-top: -38px;
}

.search-input {
  margin-top: 20px;
}

.chart-range-text {
  display: block;
  color: gray;
}

.get-score-prediction {
  margin-top: 4px;
}

.dashboard-title {
  padding-top: 5px !important;
}

.btn-customize-practice {
  margin-right: -11px;
  margin-top: -4px;
}

.dash-widget {
  height: 172px;
}

.grockit-welcome {
  bottom: 4%;
  left: 27%;
  z-index: 9999999;
  position: absolute;
  text-align: center;
}

#dashboard {
  .time-card.principalCards{
    overflow: visible;
  }
  .time-content {
    left: 56%;
    top: -25px;
    font-size: 168px!important;
  }
  .dash-title {
    margin-left: 12px;
  }
  ul.list-justified {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: -1px;
  }
  ul.list-justified>li {
    float: none;
    display: table-cell;
    width: 1%;
    border-right: 1px solid #eee;
  }
  .b-huge {
    bottom: 78px;
  }
  .card {
    background-color: #FFFFFF;
    overflow: hidden;
  }
  .card-img-top {
    position: relative;
  }
  .card-img-top img {
    width: 100%;
  }
  .card:hover .card-img-top {
    opacity: 1;
  }
  .card-actions {
    z-index: 10;
    min-height: 49px;
    margin-right: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    // md-button, button {
    //   padding: 0!important;
    // }
  }
  .card-icon {
    border-left: 1px solid #edecec;
    padding: 0px!important;
    margin: 0px -8px 0px 15px;
    padding-bottom: 8px!important;
    min-width: 50px;
  }
  .challenge-icon {
    border-left: 1px solid #edecec;
    padding: 6px !important;
    margin: 0px -8px 0px 15px;
    min-width: 50px;
  }
  .btn-float {
    z-index: 9999;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .card-bg-icon {
    position: relative;
    margin-left: 148px;
    font-size: 195px;
    opacity: 0.2;
    md-icon {
      height: 50%;
      width: auto;
      display: block;
      position: absolute;
    }
  }
  md-card {
    md-card-content {
      min-height: 120px;
    }
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    .card-red-light {
      background-color: $card-red-a200;
    }
    .card-teal {
      background-color: $card-teal;
    }
    .card-amber {
      background-color: $card-amber;
    }
    .card-green {
      background: $card-green;
    }
    .card-light-green {
      background: $card-light-green;
    }
    .card-indigo {
      background-color: $card-indigo;
    }
    .card-lime {
      background: $card-lime;
    }
    .card-orange {
      background: $card-orange;
    }
    .card-red {
      background: $card-red-400;
    }
    .card-light-cyan {
      background: $card-cyan;
    }
    .card-blue {
      background: $card-blue;
    }
    .card-light-blue {
      background-color: $card-light-blue;
    }
    .card-yellow {
      background-color: $card-yellow;
    }
    .card-purple {
      background-color: $card-deep-purple;
    }
    .info {
      min-height: 100px!important;
    }
    .bg-icon-info {
      right: 150px;
      top: -38px;
    }
  }
}

#tagsDialog {
  .md-tall {
    height: 150px;
    position: relative;
    min-height: 150px;
    max-height: 150px;
  }
  .md-toolbar-item img {
    height: 6em;
    margin-top: 67px;
    margin-left: -15px;
  }
}

.heart {
  cursor: pointer;
  padding-top: 11px;
  border-radius: 2px;
}

.card p {
  padding: 0 .6rem 0 .8rem;
  line-height: 20px;
  font-size: 13px;
  min-height: 60px;
}

.heart md-icon:hover {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1)
}

.heart .active {
  color: #D50000!important;
}

#dashboard md-card span.text-primary{
  margin-left: -91px;
}
