#dashboard-practice{

  .tag-col{
    margin-top: -20px;
  }
  .bar-col{
    padding-left: 13px;
  }

  .colored{
    background: #f2dede;
    border-color: #ebccd1;
    color: #b94a48;
  }
  div.item-tag {
    display: table;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 12px;
  }

  div.item-tag:hover {
    margin: 0px;
    background-color: transparent;
  }

  .video-btn {
    background: $white;
  }

}


