<div class="timeline">
  <!-- Timeline header -->
  <div class=" tl-header  history-day" ng-class="{'indigo-bg': !isCollapsed, 'blue-grey bg-200': isCollapsed}" ng-click="toggle()">
    <div layout="row">
      <div  ng-if="!isLoading()">
        <span id="identifier" ng-bind="identifier"></span>
        <span>[{{ roundSessions.length }} questions]</span>
      </div>
      <div class="history-load" ng-if="isLoading()" layout-align="end center">
        <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
      </div>
    </div>
  </div>
  <div class="tl-entry" ng-repeat="roundSession in roundSessions" ng-hide="isCollapsed">
    <div ng-if="roundSession.outcome === 'correct'" class="tl-icon teal-bg"><i class="fa fa-check white-text"></i></div>
    <div ng-if="roundSession.outcome === 'incorrect'" class="tl-icon red-bg"><i class="fa fa-times white-text"></i></div>
    <div ng-if="roundSession.outcome !== 'correct' && roundSession.outcome !== 'incorrect'" class="tl-icon bg-default"><i class="fa fa-minus"></i></div>
    <div class="panel tl-body">
      <div class="pull-right text-center answer-time">
        <i class="mdi mdi-alarm md-1x"></i>
        <p> {{( roundSession.time_to_answer > 0 ? roundSession.time_to_answer + "s" : "Skipped")}} </p>
      </div>
      <a href="#/{{groupId}}/review/{{roundSession.id}}" target="_blank">
        <p ng-bind-html="roundSession.question_stimulus | htmlToPlaintext | truncate:50 "></p>
      </a>
      <div style="margin-top: 10px;" class="text-sm">
        <i class="mdi mdi-1x mdi-list"></i>&nbsp;&nbsp;
        <a href="#"></a>{{roundSession.track_name}}
      </div>
      <div style="margin-top: 10px;" class="text-sm">
        <i class="mdi mdi-1x mdi-dashboard"></i>&nbsp;&nbsp;
        <a href="#"></a>
        <span ng-bind="roundSession.experience_points | level"></span>
      </div>
    </div>
    <!-- / .tl-body -->
  </div>
</div>
