<div breadcrumb breadcrumbs="breadcrumbs.get()"></div>

<div id="dashboard-practice">
		<div class="page-header">
				<h2><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;<span ng-bind="trackInfo.titleQuest"></span> Dashboard!
				</h2>
				<br>
		</div>

		<div class="profile-content">

				<div fading-text word="'Loading...'" is-visible="!historyVisible && loading"></div>

				<div class="row fadeIn animated" ng-if="historyVisible">
						<div class="col-sm-12">
								<span>Here's a chart of the questions you've answered. The more questions you answer, the more you'll improve!</span>
						</div>
						<div class="col-sm-12 no-padding-hr">
								<div class="panel" ng-if="historyVisible">
										<div class="panel-body no-padding">
												<div id="graphPanel" class="no-padding-l">
												</div>
										</div>
								</div>
						</div>
				</div>


				<div class="row fadeIn animated">
						<div class="col-md-12 no-padding">
								<div class="panel topic-content panel-dark widget-profile">
										<div class="panel-heading">
												<button class="float-right btn btn-labeled  btn-primary btn-flat" ng-click="StartPractice($index)">
														<span class="btn-label icon fa fa-lightbulb-o"></span>Start</button>

            <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>
                Select Topics</span>
										</div>
										<div class="list-group text-left">
												<div topic-list ></div>

										</div>
								</div>

						</div>
				</div>




				<div style="display: none;" class="fadeIn animated">

						<div class="row ">

								<div class="panel widget-tasks">
										<div class="panel-heading">
            <span class="panel-title">
                       <h4> <i class="panel-title-icon fa fa-star-o"></i>Challenge</h4>
                    </span>
										</div>
										<div class="panel-body ui-sortable">
												<div class="row no-padding-r">
														<button class="btn btn-primary btn-lg float-right" ng-click="newChallenge()"><span ng-bind="titleQuest"></span> Challenge&nbsp; &#10095;</button>

														<p>Challenge yourself with 10-12 questions automatically selected based on your weaknesses.</p>
												</div>


										</div>
								</div>

						</div>

				</div>

		</div>

</div>