<div class="stat-panel">
  <div class="stat-row">
    <div class="stat-cell col-sm-4 no-padding bordered valign-top">
      <!-- Small padding, without top padding, extra small horizontal padding -->
      <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa  fa-bar-chart-o text-primary"></i>&nbsp;&nbsp;Your Progress</h4>
      <!-- Without margin -->
      <ul class="list-group no-margin">
        <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
        <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
        Total Questions Answered: <span class="label label-pa-purple pull-right" ng-bind="historyInfo.totalQuest"></span>
        </li> <!-- / .list-group-item -->
        <li class="list-group-item no-border-hr padding-xs-hr no-bg">
        Questions Answered in the Last 7 Days: <span class="label label-danger pull-right" ng-bind="historyInfo.totalQuestLastW"></span>
        </li>
        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
        Questions Answered Today: <span class="label label-success pull-right" ng-bind="historyInfo.totalQuestToday"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
