<div class="stat-panel">
  <div class="stat-row">
    <div class="stat-cell col-sm-4 no-padding bordered valign-top">
      <!-- Small padding, without top padding, extra small horizontal padding -->
      <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa  fa-bar-chart-o text-primary"></i>&nbsp;&nbsp;Do Now</h4>
      <!-- Without margin -->
      <ul class="list-group no-margin">
        <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
        <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius" >
          <button class="btn-lg btn btn-labeled btn-primary" ng-disabled="true"> Start</button>
          <label class="checkbox-inline"><input type="checkbox" class="px">
          <span class="lbl text-lg">
          <span>Do 15 Geometry Questions</span>
          </span></label>
          </li> <!-- / .list-group-item -->
          <li class="list-group-item no-border-hr padding-xs-hr no-bg">
            <button class="btn-lg btn btn-labeled btn-primary" >Start</button>
            <label class="checkbox-inline"><input type="checkbox" class="px"><span class="lbl text-lg">Do 13 Reading Passage Questions </span></label>
          </li>
          <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
            <button class="btn-lg btn btn-labeled btn-primary" >Start</button>
            <label class="checkbox-inline"><input type="checkbox" class="px"><span class="lbl text-lg">Do 15 Exponent Questions</span></label>
          </li>
        </ul>
      </div>
    </div>
  </div>
