<div accordion close-others="true">
  <div accordion-group ng-repeat="track in tracks" is-custom-toggle="true" has-childs="empty(track)" class="smart-practice-head">
    <div accordion-heading>
      <span class="white text-lg" ng-click="startPractice(track,track.id) && canPractice" ng-show="$index===0" id="tracks" chardin-tour data-intro="Practice thousands of high quality, realistic questions by clicking Start." data-position="bottom">
        <strong>
          <span class="track-head text-slim cursor-a" ng-bind="track.name"></span>
      </strong>
      </span>
      <span class="text-lg" ng-click="startPractice(track,track.id) && canPractice" ng-show="$index!==0">
        <strong>
          <span class="track-head text-slim cursor-a" ng-bind="track.name"></span>
      </strong>
      </span>
    </div accordion-heading>
    <div ng-repeat="subtrack in trackTags">
      <div class="col-sm-4 col-md-4 col-lg-2" style=" margin-left:5px;">
        <div class="clearfix">
          <div class="grid_3">
            <div class="fmcircle_out">
              <a href="#web">
                <div class="fmcircle_border">
                  <div class="fmcircle_in {{subtrack.perctCss}}">
                    <span ng-bind="subtrack.name"></span>

                    <!--  -->
                    <div class="item-content">
                      <div class="item-top-content" style="margin-top: -34px;">
                        <div class="item-top-content-inner">
                          <div class="item-product">
                            <div class="item-top-title">
                              <h2>Skill</h2>
                              <p class="subdescription">
                                {{subtrack.percent}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-add-content">
                        <div class="item-add-content-inner">
                          <div class="section">
                            <a href="#" class="btn buy expand">Practice</a>
                            <a href="#" class="btn buy expand">Learn</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                </div>
              </a>
            </div>


          </div>
        </div>
      </div>

    </div>

  </div accordion-group>
</div accordion>
