<div class="row">
  <div class="col-sm-6">
    <h4>Track Picker</h4>
    <select id="mySel2" class="form-control" multiple="multiple">
      <option ng-repeat="item in tracks" ng-selected="item.selected" ng-model="item.name">{{item.name}}</option>
    </select>
  </div><!--/col-->
  <div class="col-md-6">
    <h4>Sort by</h4>
    <ul class="filter text-center" ok-key="filter">
      <li><a href="javascript:void(0)" ok-sel=".fmcircle_red">Smart Sort</a></li>
      <li><a href="#" ok-sel=".interactive">Skill Level</a></li>
      <li><a href="#" ok-sel=".print">Progress</a></li>
      <li><a href="#" ok-sel=".photography">Alphabetical</a></li>
    </ul>
  </div>
</div><!--/row-->
<div class="row" isotope-container="">
  <div ng-repeat="subtrack in trackTags | limitTo: itemsLimit()" isotope-item="">

    <div class="col-lg-4 col-md-4">
      <div class="panel panel-track">
        <div class="panel-heading timing-box {{subtrack.perctCss}}" style="color:#ffffff;height: 76px;">
          <div class="row">
            <div class="col-xs-2">
              45%
            </div>
            <div class="col-xs-2 col-md-offset-8">
              67/2
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="text-bg" ng-bind="subtrack.name"></span>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)">
          <div class="panel-footer timing-box-padding">
            <div class="progress progress-striped">
              <div class="progress-bar" style="width: {{subtrack.percent}};"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </a>
        <a class="item-hover">
          <div class="item-info">
            <div class="practice">
              <button class="btn btn-primary btn-flat">Practice</button>
            </div>
            <div class="line"></div>
            <div class="learn">
              <button class="btn btn-primary btn-flat">Learn</button>
            </div>
          </div>
          <div class="mask"></div>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <a class="cursor-a" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more</a>
  </div>
</div>
