//Validations colors
$invalidRed:				#b94a48;
$lightInvalidRed:			#f2dede;
$validGreen:				#468847;
$divisor:                   #5bc0de;
$letterCircle:              #E3E3DE;
$questionExplainBg:         #F2F2F2;
$answerCorrectPanelBg:      #dff0d8;
$answerCorrectPanelCol:     #468847;
$white                :     #ffffff;

