// bower:scss
// endbower

@import  "../styles/_variables.scss",

         "../app/home/dashboard/dashboard.scss",
         "../app/practiceGame/dashboard/dashboard.scss",
         "../app/practiceGame/practice/practice.scss";

//general css
.panel-no-bg {
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body-no-bg {
  margin: 0;
  padding: 20px;
}
.float-right{
  float: right;
}
.bottom-action-bar {
  position: absolute;
  line-height: 62px;
  background-color: #dbe0e4;
  z-index: 10101;
  padding: 0 23px;
}
.panel-footer-no-bg {
  border-top: 1px solid #ececec;
  padding-left: 20px;
  padding-right: 20px;
}


#topics{

  padding-right: 20px;
  padding-top: 10px;
  min-height: 50px;
  padding-bottom: 5px;
  //  box-shadow: 0 3px 1px #555, 0 -2px 4px #555;

}

footer {
  position: fixed;
}

.theme-default footer {
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
}

.push {
  height: 90px;
}

.hide-footer{
  display: none;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  width: 100%;
  _height: 1px;
  padding-left: 0px;
  border: 1px solid #EEEBEB!important;
  background: #f1f1f1;



//  position: fixed;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  width: 100%;
//  background: #444;
//  color: #fff;
//  z-index: 99999;
//  transition: color .3s;
//  font-size: 24px;
//  outline: 0;
//  border: 0;
}

.back-to-top {
  position: fixed;
  bottom: 5em;
  right: 5px;
  text-decoration: none;
  display: none;
  width: 50px;
  height: 40px;
  background: #444;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  z-index: 99999;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  font-size: 24px;
  outline: 0;
  border: 0;
  vertical-align: middle;

}

/*Loading style*/
#inTurnFadingTextG{
  width:100%;
}

.inTurnFadingTextG{
  color:#000000;
  font-family:Arial;
  font-size:25px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  -moz-animation-name:bounce_inTurnFadingTextG;
  -moz-animation-duration:2.38s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-animation-name:bounce_inTurnFadingTextG;
  -webkit-animation-duration:2.38s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-animation-name:bounce_inTurnFadingTextG;
  -ms-animation-duration:2.38s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-animation-name:bounce_inTurnFadingTextG;
  -o-animation-duration:2.38s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  animation-name:bounce_inTurnFadingTextG;
  animation-duration:2.38s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#inTurnFadingTextG_1{
  -moz-animation-delay:0.68s;
  -webkit-animation-delay:0.68s;
  -ms-animation-delay:0.68s;
  -o-animation-delay:0.68s;
  animation-delay:0.68s;
}

#inTurnFadingTextG_2{
  -moz-animation-delay:0.85s;
  -webkit-animation-delay:0.85s;
  -ms-animation-delay:0.85s;
  -o-animation-delay:0.85s;
  animation-delay:0.85s;
}

#inTurnFadingTextG_3{
  -moz-animation-delay:1.02s;
  -webkit-animation-delay:1.02s;
  -ms-animation-delay:1.02s;
  -o-animation-delay:1.02s;
  animation-delay:1.02s;
}

#inTurnFadingTextG_4{
  -moz-animation-delay:1.19s;
  -webkit-animation-delay:1.19s;
  -ms-animation-delay:1.19s;
  -o-animation-delay:1.19s;
  animation-delay:1.19s;
}

#inTurnFadingTextG_5{
  -moz-animation-delay:1.36s;
  -webkit-animation-delay:1.36s;
  -ms-animation-delay:1.36s;
  -o-animation-delay:1.36s;
  animation-delay:1.36s;
}

#inTurnFadingTextG_6{
  -moz-animation-delay:1.53s;
  -webkit-animation-delay:1.53s;
  -ms-animation-delay:1.53s;
  -o-animation-delay:1.53s;
  animation-delay:1.53s;
}

#inTurnFadingTextG_7{
  -moz-animation-delay:1.7s;
  -webkit-animation-delay:1.7s;
  -ms-animation-delay:1.7s;
  -o-animation-delay:1.7s;
  animation-delay:1.7s;
}

#inTurnFadingTextG_8{
  -moz-animation-delay:1.87s;
  -webkit-animation-delay:1.87s;
  -ms-animation-delay:1.87s;
  -o-animation-delay:1.87s;
  animation-delay:1.87s;
}

#inTurnFadingTextG_9{
  -moz-animation-delay:2.04s;
  -webkit-animation-delay:2.04s;
  -ms-animation-delay:2.04s;
  -o-animation-delay:2.04s;
  animation-delay:2.04s;
}

#inTurnFadingTextG_10{
  -moz-animation-delay:2.21s;
  -webkit-animation-delay:2.21s;
  -ms-animation-delay:2.21s;
  -o-animation-delay:2.21s;
  animation-delay:2.21s;
}

@-moz-keyframes bounce_inTurnFadingTextG{
  0%{
    color:#000000;
  }

  100%{
    color:#FFFFFF;
  }

}

@-webkit-keyframes bounce_inTurnFadingTextG{
  0%{
    color:#000000;
  }

  100%{
    color:#FFFFFF;
  }

}

@-ms-keyframes bounce_inTurnFadingTextG{
  0%{
    color:#000000;
  }

  100%{
    color:#FFFFFF;
  }

}

@-o-keyframes bounce_inTurnFadingTextG{
  0%{
    color:#000000;
  }

  100%{
    color:#FFFFFF;
  }

}

@keyframes bounce_inTurnFadingTextG {
  0% {
    color: #000000;
  }

  100% {
    color: #FFFFFF;
  }
}