// bower:scss
// endbower

@import  "../styles/_variables.scss",
        "../app/home/dashboard/dashboard.scss",
        "../app/subjects/dashboard/dashboard.scss",
        "../app/subjects/practice/practice.scss";

//general css
.panel-no-bg {
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body-no-bg {
  margin: 0;
  padding: 20px;
}
.panel-footer-no-bg {
  border-top: 1px solid #ececec;
  padding-left: 20px;
  padding-right: 20px;
}


#topics{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  background-color: #CCCBCB;
  min-height: 50px;
  margin-top: 5px;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

//  box-shadow: 0 3px 1px #555, 0 -2px 4px #555;

}
footer {
 z-index: 1030;
  border: none;
  min-height: 42px;
  width: 100%;
//  border-top: 1px solid transparent;

}

.push {
  height: 90px;
}
.hide-footer{
  display: none;
}
