<div id="simpleDash">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6 no-padding-r">
        <div ng-if="vmDash.showTour">
          <br>
          <h4 class="no-padding">New here?</h4>
          <button  data-toggle="chardinjs" ng-click="vmDash.startCardinTour()" class="btn btn-lg btn-labeled btn-primary">
            <span class="btn-label icon fa fa-question-circle"></span>
            <span>Start Tour</span>
          </button>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="profile-content">
    <div fading-text word="vmDash.loadingMessage" is-visible="!vmDash.historyVisible && vmDash.loading"></div>
    <div class="row">
    <div ng-if="vmDash.showBuyNow" class="col-lg-12">
    <div class="stat-panel">
              <!-- Success background. vertically centered text -->
              <div class="stat-cell bg-info valign-middle">
                <!-- Stat panel bg icon -->
                <br>
                <i class="fa fa-clock-o bg-icon"></i>
                <!-- Extra large text -->
                <!-- Big text -->
                <span class="text-lg "><span ng-bind-html="vmDash.upgradePromptMessage"></span> for <strong style="color:#E7DF90">Grockit <span ng-bind="$root.groupTitle"></span></strong>. Continue to enjoy full access, starting at just <span style="color:#E7DF90">$9</span>.</span><br>
                <!-- Small text -->
                <span class="text-sm"><br></span>
              </div> <!-- /.stat-cell -->
            </div>
    </div>
    <!-- <div class="col-lg-6" >
    <div do-now></div>
    </div> -->
  </div>
  <div class="row" >
    <div class="col-md-12">
      <div class="panel">
        <div class="list-group text-left">
          <div track-list tracks="vmDash.tracks" start-practice="vmDash.StartPractice"
          is-visible="vmDash.enableScore && !vmDash.loading" can-practice="vmDash.canPractice"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fadeIn animated" ng-if="vmDash.isChallengeAvailable">
    <div class="col-md-12">
      <div class="panel topic-content panel-dark widget-profile">
        <div class="panel-heading dashboard-title">
          <span class="panel-title"> <h4><i class="panel-title-icon fa fa-fire"></i>Challenge</h4>
          </span>
        </div>
        <div class="list-group text-left">
          <div challenge-dashboard challenges="vmDash.challengesGames"></div>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>

</div>
  <div ng-show="vmDash.showingTour" class="grockit-welcome" style="color:white;" ><h3>Welcome to Grockit <span ng-bind="$root.groupTitle"></span>!</h3></div>





