<div id="simpleDash">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6 no-padding-r">
        <h2>Welcome to Grockit <span ng-bind="$root.groupTitle"></span>!
        </h2>
      </div>
    </div>
    <br>
  </div>
  <div class="profile-content">
    <div fading-text word="vmDash.loadingMessage" is-visible="!vmDash.historyVisible && vmDash.loading"></div>
    <div class="row">
      <div class="col-lg-4">
        <div class="no-padding">
          <div class="stat-panel">
            <div class="stat-row">
              <div class="stat-cell col-sm-4 no-padding bordered valign-top dash-widget">
                <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-info text-primary"></i>&nbsp;&nbsp;How to use grockit?</h4>
                <ul class=" no-margin">
                  <li class=" no-border-hr padding-xs-hr no-bg no-border-radius text-left">
                    “<a href="http://en.wikipedia.org/wiki/Grok"><b>Grok</b>: to understand thoroughly</a>.”
                    <b>Grockit</b>: the best way to do <span ng-bind="$root.groupTitle"></span> practice.
                  </li>
                  <li class=" no-border-hr padding-xs-hr no-bg no-border-radius text-left">
                    <b>More questions</b> means <b>more points</b>. Try to answer <b>at least 20 questions</b> each day.
                  </li>
                  <li class=" no-border-hr padding-xs-hr no-bg no-border-radius text-left">
                    <b>Smart Practice</b> selects questions in your personal “strike zone”.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="no-padding">
          <div history-chart history-info="vmDash.historyInfo">
          </div>
        </div>
      </div>
      <div class="col-lg-4" ng-if="vmDash.enableScore">
        <div class="no-padding">
          <div score-prediction group-title="$root.groupTitle"  score-data="vmDash.score" is-visible="vmDash.scoreLoading"
          no-score-message="More data needed for {{$root.groupTitle}} score."></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fadeIn animated">
    <div class="col-md-12">
      <div class="panel">
        <div class=" list-group text-left">
          <div track-list tracks="vmDash.tracks" start-practice="vmDash.StartPractice" get-score="vmDash.getScore"
          is-visible="vmDash.enableScore && !vmDash.loading" collapse-panel-id="collapse-panel" collapse-panel-body-id="collapse-panel-body"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fadeIn animated" ng-if="vmDash.isChallengeAvailable">
    <div class="col-md-12">
      <div class="panel topic-content panel-dark widget-profile">
        <div class="panel-heading dashboard-title">
          <span class="panel-title"> <h4><i class="panel-title-icon fa fa-fire"></i>Challenge</h4>
          </span>
        </div>
        <div class="list-group text-left">
          <div challenge-dashboard challenges="vmDash.challengesGames"></div>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>

</div>
