doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
//if IE 8
  html.ie8  
//if IE 9
  html.ie9.gt-ie8  
html.gt-ie8.gt-ie9.not-ie.no-js()

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grockit
    //styles
  body.theme-default.main-menu-animated(ng-cloak="", class='{{$root.bodylayout}}')
    div(ui-view='')
    .alert.animated.main-alert(class='alert-{{alert.type}}', ng-class="{'flipInY': alert.show, 'flipOutY': !alert.show, 'alert-hidden': !alert.hasBeenShown}")
      strong(ng-bind='alert.title')
      | {{alert.message}}

    //scripts
