<div id="numericEntryQuest">
<input id="numericEntry" type="text" ng-model="portal.numerator" class="form-control" id="inputDefault-4"
       ng-class="{true:'correct-numeric-input', false:'bad-numeric-input', null:''}[answerStatus]">

    <div ng-repeat="item in items">
        <div id="explanationAnswerPanel" ng-show="item.hasExplanation" ng-if="showExplanation"  class="fadein " ng-class="{'answer-correct-panel': answerStatus, 'answer-incorrect-numEntry': !answerStatus}">
            <div class="explain-margin" ng-bind-html='item.explanation'></div>
        </div>
        <div ng-if="showExplanation"  class="fadein ">
            Correct answer:

            <div class="answer-correct-panel explain-margin" ng-bind-html='item.body'></div>
        </div>
    </div>

</div>
